@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

.controlBar{
	height:20px;
	background:-moz-Dialog url(chrome://global/skin/menu-bg.png);
	color:-moz-DialogText}

button{
	margin:0!important;
	padding:0!important;
	width:20px;
	height:20px;
	outline:none!important;
	box-shadow:none!important}
.muteButton[noAudio="true"],
button:not(:hover){
	-moz-border-top-colors:transparent;
	-moz-border-left-colors:transparent;
	-moz-border-right-colors:transparent;
	-moz-border-bottom-colors:transparent;
	background:none!important}
.button-box{
	background-position:center!important;
	background-repeat:no-repeat!important}

.playButton{
	margin-right:-20px!important;
	position:relative}

.playButton>.button-box{background-image:-moz-image-rect(url(video.png),0,32,16,16)}
.playButton[paused="true"]>.button-box{background-image:-moz-image-rect(url(video.png),0,16,16,0)}
.muteButton>.button-box{background-image:-moz-image-rect(url(video.png),16,16,32,0)}
.muteButton[muted="true"]>.button-box{background-image:-moz-image-rect(url(video.png),16,32,32,16)}
.muteButton[noAudio="true"]>.button-box{background-image:-moz-image-rect(url(video.png),0,64,16,48)}
.fullscreenButton>.button-box{background-image:-moz-image-rect(url(video.png),0,48,16,32)}
.fullscreenButton[fullscreened]>.button-box{background-image:-moz-image-rect(url(video.png),16,48,32,32)}

.volumeStack[hidden="true"]{display:-moz-stack!important}
.muteButton[noAudio]+.volumeStack{display:none!important}
.volumeStack[fadeout]{opacity:1!important}

.scale-thumb[orient="vertical"]{
	width:12px;
	border-radius:2px;
	min-height:4px;
	max-height:4px}

.volumeBackgroundBar{
	margin:0 4px;
	-moz-border-start:1px inset threedface;
	-moz-border-end:1px inset threedface;
	background:highlight}

.volumeBackground,
.volumeForeground{
	width:32px;
	background-position:center center;
	background-repeat:no-repeat}
.volumeBackground{
	background-image:-moz-image-rect(url(video.png),32,32,48,0)}
.volumeForeground{
	background-image:-moz-image-rect(url(video.png),32,64,48,32);
	background-clip:content-box}
.volumeControl:not([orient="vertical"]){
	width:32px}
.volumeControl:not([orient="vertical"]) .scale-thumb{
	min-width:0;
	border-width:0;
	background:none;
	opacity:0}

.durationBox{
	margin-left:-20px!important;
	-moz-box-align:center;
	-moz-box-pack:center}

.durationLabel{
	padding:0 2px;
	color:-moz-DialogText;
	text-shadow:0 1px rgba(250,250,250,.4);
	font:11px sans-serif}

.bufferBar,
.progressBar{
	margin:5px 20px!important;
	min-width:0;
	min-height:0}

.bufferBar{
	border:0!important}
.bufferBar>.progress-bar{
	border-radius:5px;
	background:threedshadow}

.scale-slider{margin:0;background:none}
.scrubber>.scale-slider{
	margin-top:-13px;
	margin-bottom:11px;
	background:none}

.scrubber>.scale-slider>.scale-thumb{
	width:45px;
	height:22px;
	background:none;
	box-shadow:none;
	border-width:0;
	border-radius:0!important}
.timeThumb{
	-moz-box-align:start;
	-moz-box-pack:center;
	-moz-box-flex:1;
	background:-moz-image-rect(url(scrubberThumb.png),0,33,22,0) no-repeat center}
.timeThumb[showhours="true"]{
	background:-moz-image-rect(url(scrubberThumb.png),0,78,22,33) no-repeat center}
 
.timeLabel{
	padding-top:1px;
	color:white;
	font-size:10px;
	font-family:Tahoma,Arial,sans-serif;
	text-shadow:0 1px rgba(0,0,0,.5)}

.statusOverlay{
	-moz-box-align:center;
	-moz-box-pack:center;
	background-color:rgba(0,0,0,.55)}

.statusIcon{
	margin-bottom:20px;
	height:24px;
	width:24px;
	background-repeat:no-repeat;
	background-position:center}
.statusIcon[type="throbber"]{
	background-image:url(chrome://global/skin/icons/loading_16.png)}
.statusIcon[type="error"]{
	background-image:url(chrome://global/skin/icons/warning-24.png)}

.controlBar:not([immediate]){-moz-transition:opacity 300ms}
.statusOverlay:not([immediate]){-moz-transition:opacity 300ms 750ms}
.controlBar[fadeout],
.statusOverlay[fadeout]{opacity:0}

.positionLabel{display:none}

html|*.statsDiv{position:relative}
html|tr[style^="height"]{display:none}
html|td{
	text-align:start;
	padding:0 2px}
html|table{
	table-layout:fixed;
	border-collapse:collapse;
	border:2px solid rgba(160,160,160,.7);
	position:absolute;
	font:message-box;
	text-shadow:0 0 2px black,0 0 1px black;
	background:rgba(68,68,68,.7);
	color:white}

.errorLabel{
	font:message-box;
	color:white;
	text-shadow:0 0 2px black,0 0 1px black;
	padding:0 10px;
	text-align:center}

.clickToPlay{
	opacity:.7;
	background:url(play.png) no-repeat center calc(50% + 1px);
	background-size:64px 64px}
.clickToPlay:not([immediate]){
	-moz-transition-property:opacity,background-size;
	-moz-transition-duration:400ms,400ms}
.clickToPlay:hover{opacity:1}
.clickToPlay[fadeout]{background-size:192px 192px;opacity:0}
