html,body{height:100%}

body{
	margin:0;
	padding:0;
	display :flex;
	flex-direction:column;
	overflow:hidden;
	font:message-box!important;
	background-color:-moz-dialog;
	color:-moz-dialogtext}

#toolbar{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-end;
	height:20px}

#toolbar .label{
	padding:1px 4px}

#error-message{
	padding-top:4px;
	text-align:center;
	flex:1;
	overflow:auto;
	display:none}

#players{
	flex:1;
	overflow:auto;
	background-color:-moz-field;
	color:-moz-fieldtext}

.finished{
	pointer-events:none;
	opacity:.5}

.player-widget{
	padding:1px;
	border:1px outset threedface;
	background-color:-moz-dialog}

.animation-target{
	box-sizing:border-box;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap}

.animation-target .attribute-name{
	-moz-padding-start:4px}

.animation-target>span{vertical-align:middle}
.animation-target>.node-selector{
	display:inline-block;
	cursor:pointer;
	height:16px}
.animation-target>.node-selector::before{
	content:"";
	display:block;
	width:16px;
	height:100%;
	background:-moz-image-rect(url(chrome://inspector/skin/inspector.png),0,16,16,0) no-repeat center}

.animation-title{
	padding:0 2px;
	word-wrap:break-word;
	overflow:auto}

.animation-title .meta-data{float:right}
.animation-title strong{padding:0 3px}

.timeline{
	width:100%;
	display:flex;
	flex-direction:row}

.playback-controls{
	display:flex;
	flex-direction:row}

#element-picker,
#toggle-all,
.playback-controls>button{
	position:relative;
	width:22px;
	margin:0}
.rate{
	padding:0 3px;
	text-align:center;
	margin:0;
	font-family:inherit}
.rate:not(:hover),
#toggle-all:not(:hover),
.playback-controls>button:not(:hover){
	-moz-border-top-colors:transparent;
	-moz-border-left-colors:transparent;
	-moz-border-right-colors:transparent;
	-moz-border-bottom-colors:transparent;
	box-shadow:none;
	background:none}

#element-picker::before,
#toggle-all::before,
.playback-controls>button::before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:16px;
	height:100%;
	background:-moz-image-rect(url(chrome://inspector/skin/inspector.png),0,16,16,0) no-repeat center}
#toggle-all::before,
.playback-controls>button::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),0,32,16,16)}
#toggle-all.paused::before,
.paused .playback-controls>.toggle::before,
.finished .playback-controls>.toggle::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),0,16,16,0)!important}
.playback-controls>.ff::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),0,80,16,64)!important}
.playback-controls>.rw::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),16,80,32,64)!important}

.sliders-container{
	flex-grow:1;
	margin:0 1px;
	border-radius:5px;
	box-shadow:1px 1px 2px threedshadow inset;
	border:1px inset threedface;
	background:url(chrome://global/skin/menu-bg.png)}
.current-time{
	-moz-appearance:none;
	padding:0;
	margin:0;
	width:100%;
	height:100%}
.current-time::-moz-range-thumb{
	height:100%;
	width:4px;
	border-radius:0;
	border:none;
	background-color:highlight}
.current-time::-moz-range-progress,
.current-time::-moz-range-track{
	background-color:transparent}

.time-display{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0 2px;
	min-width:50px}
