@import url(chrome://global/skin/htmlbutton.css);

.gcli-body{
	margin:0;
	font:message-box}

#gcli-output-root,
#gcli-tooltip-root{
	border-radius:5px;
	border:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-left-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-right-colors:ThreeDDarkShadow ThreeDShadow;
	-moz-border-bottom-colors:ThreeDDarkShadow ThreeDShadow;
	background-color:-moz-Dialog;
	color:-moz-DialogText}

#gcli-tooltip-connector{
	margin-top:-2px;
	margin-left:4px;
	width:14px;
	height:14px;
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),400,16,416,0)}

.gcli-tt-description,
.gcli-tt-error{
	padding:0 10px}

.gcli-row-out{
	padding:0 5px;
	line-height:1.2em;
	border-top:none;
	border-bottom:none;
	color:threeddarkshadow}

.gcli-row-out p,
.gcli-row-out h1,
.gcli-row-out h2,
.gcli-row-out h3{
	margin:5px 0}

.gcli-row-out h1,
.gcli-row-out h2,
.gcli-row-out h3,
.gcli-row-out h4,
.gcli-row-out h5,
.gcli-row-out th,
.gcli-row-out strong,
.gcli-row-out pre{
	color:threeddarkshadow}

.gcli-out-shortcut,
.gcli-help-synopsis{
	padding:0 3px;
	margin:0 4px;
	font-weight:normal;
	border-radius:3px;
	border:1px inset threedface;
	background-color:-moz-field;
	color:-moz-FieldText}

.gcli-out-shortcut:before,
.gcli-help-synopsis:before{
	color:threeddarkshadow;
	-moz-padding-end:2px}

.gcli-help-description{
	margin:0 20px;
	padding:0}

.gcli-help-parameter{
	margin:0 30px;
	padding:0}

.gcli-menu-desc{
	-moz-padding-end:8px;
	color:threeddarkshadow}

.gcli-menu-option:hover,
.gcli-menu-highlight,
.gcli-menu-highlight.gcli-menu-option:hover{
	background:#CCCCFF url(chrome://global/skin/menu-bg.png)}

.gcli-menu-more{
	font-style:italic;
	text-align:end;
	-moz-padding-end:8px}

.gcli-addon-disabled{
	opacity:.6;
	text-decoration:line-through}

.gcli-row-out td{white-space:nowrap}
.gcli-help-arrow{color:highlight}
.gcli-help-header{margin:10px 0 6px}
.gcli-menu-name{-moz-padding-start:8px}
.gcli-menu-typed{color:darkgreen}
.gcli-breakpoint-label{font-weight:bold}
.gcli-breakpoint-lineText{font-family:Menlo,Consolas,Lucida Console,monospace}
