@import url(chrome://global/skin/htmlbutton.css);

html,body{height:100%;max-height:100%;overflow:hidden}

body,#root{
	font:message-box;
	display:-moz-box;
	-moz-box-orient:vertical;
	-moz-box-flex:1;
	width:-moz-available;
	margin:0;
	padding:0}

#showall{-moz-box-ordinal-group:0}

#all-fonts{
	display:-moz-box;
	-moz-box-flex:1;
	-moz-box-align:stretch;
	-moz-box-orient:vertical;
	overflow:auto;
	margin:0;
	padding:0;
	border:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-left-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors:ThreeDHighLight ThreeDShadow;
	-moz-border-bottom-colors:ThreeDHighLight ThreeDShadow}

.font{
	padding:4px;
	border:1px outset threedface}

.font-preview,
.font-css-code,
.font-url{
	font-family:Menlo,Consolas,Lucida Console,monospace;
	font-size:90%;
	border:1px inset threedface;
	background:-moz-field}

.font-preview{
	height:62px;
	border-radius:9px}
iframe.font-preview{width:calc(100% - 4px)}

.font-name{
	font-size:120%;
	margin:0;
	display:inline}

.font-css-code{
	display:-moz-box;
	width:calc(100% - 4px);
	height:9em;
	overflow:auto;
	padding:2px;
	margin:0}

.font-url{
	-moz-appearance:none;
	width:calc(100% - 4em)}
	
.font-is-local,
.font-is-remote{
	margin:0;
	font-style:italic}

.font-format-url,
.font-css{
	margin:0}

.font-preview:focus,
.font-css-code:focus,
.font-url:focus{
	box-shadow:0 0 0 2px #CCCCFF}
