@media not print{
body{background:threedshadow url(chrome://global/skin/highlight.png)}
img{
	background:-moz-Field;
	color:-moz-FieldText}
img:hover{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEWgoKClpaUrSK7yAAAAAnRSTlNkFG3Yt+YAAAAPSURBVHheY2D4jxXhEgYAfr8P8SM7T18AAAAASUVORK5CYII=)}
}
.completeRotation{transition:transform 300ms}
.overflowing{cursor:-moz-zoom-out}
.shrinkToFit,.scaleTodevicePixels{cursor:-moz-zoom-in}
