html,body{
	height:100%;
	max-height:100%;
	overflow:hidden}

body{
	font:message-box;
	display:-moz-box;
	-moz-box-orient:vertical;
	-moz-box-flex:1;
	width:-moz-available;
	margin:0;
	padding:0}

#propertyContainer{
	display:-moz-box;
	-moz-box-flex:1;
	-moz-box-align:stretch;
	-moz-box-orient:vertical;
	overflow-y:auto;
	-moz-padding-start:16px}

.property-view-hidden,
.property-content-hidden{
	display:none}

.property-name,
.property-value,
.expander{
	outline:0;
	display:-moz-box;
	vertical-align:middle}

.property-name{
	width:200px;
	overflow-x:hidden;
	text-overflow:ellipsis;
	white-space:nowrap}
.property-name::after{content:":";padding:0 2px}

.property-value{
	width:auto;
	overflow-x:hidden;
	text-overflow:ellipsis;
	white-space:nowrap}

.matchedselectors:not(:empty){
	margin:2px;
	border-radius:3px;
	border:1px solid threedshadow;
	background-color:-moz-dialog;
	color:-moz-dialogtext}

.other-property-value{display:block}
.matchedselectors>p{margin:0;padding:0 2px}
.matchedselectors>p:not(:first-of-type){border-top:1px solid threedshadow}
.rule-text{direction:ltr}
.onlyuserstyles{cursor:pointer}
#root{-moz-box-ordinal-group:0;font:message-box}
.devtools-toolbar{width:100%}
.rule-link>.link{float:right}
.match,.expander:not(.expandable){visibility:hidden}
