#network-table[waterfall-overflows] .requests-menu-waterfall{display:-moz-box!important}

#requests-menu-empty-notice{
	font-size:110%;
	text-align:center;
	padding-top:20px}

#requests-menu-toolbar{-moz-padding-start:2px}

.requests-menu-header-button{
	margin:0;
	padding:0;
	border-width:0;
	box-shadow:none}
.requests-menu-header-button:not(:hover){
	background:none}
.requests-menu-header-button>.button-box{
	background-repeat:no-repeat;
	background-position:right center}
.requests-menu-header-button[sorted]>.button-box{
	-moz-padding-end:12px}
.requests-menu-header-button[sorted=ascending]>.button-box{background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,49,12,37)}
.requests-menu-header-button[sorted=descending]>.button-box{background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,37,12,25)}

.requests-menu-header-button>hbox>.button-text{-moz-box-flex:1}
#details-pane>tabpanels,
.requests-menu-header,
.requests-menu-subitem{padding:0}
.requests-menu-status-and-method{width:6em}
.requests-menu-security-and-domain,
.requests-menu-domain{width:12em}
.requests-menu-type{text-align:center;width:4em}
.requests-menu-size{text-align:end;width:5em}

.requests-menu-header:not(:last-of-type),
.requests-menu-subitem:not(:last-child){
	-moz-border-end:1px solid threedshadow}

.requests-menu-icon-and-file,
.requests-menu-file{width:20em}
.requests-menu-icon-and-file>.requests-menu-file{width:auto}
.requests-menu-icon{
	width:calc(1em + 4px);
	height:calc(1em + 4px);
	margin:-4px 0;
	-moz-margin-end:4px;
	outline:1px solid threedshadow;
	background:-moz-field}

.requests-menu-status{
	width:10px;
	height:10px}
box.requests-menu-status{
	margin:0 2px;
	border-radius:20px;
	background-color:threedface}
.connect,box.requests-menu-status[code^="1"]{background-color:#0088cc; /*blue*/}
.send,box.requests-menu-status[code^="2"]{background-color:#2cbb0f; /*green*/}
box.requests-menu-status[code^="3"]{background-color:#5f88b0; /*blue-grey*/}
.blocked,box.requests-menu-status[code^="4"]{background-color:#ed2655; /*red*/}
.receive,box.requests-menu-status[code^="5"]{background-color:#b82ee5; /*pink*/}
.dns{background-color:#5b5fff}/*purple*/
.wait{background-color:#8fa1b2}/*grey*/

box.requests-menu-status[code="cached"]{
	border:2px solid graytext;
	background-color:transparent}

#event-details-pane>tabpanels{
	padding:0;
	border-width:0}
#details-pane-toggle{
	margin:0;
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(177px 31px 191px 17px)}
#details-pane-toggle:hover{
	-moz-image-region:rect(225px 31px 239px 17px)}
#details-pane-toggle:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)}

#requests-menu-waterfall-label,
.tabpanel-summary-container{
	padding:0 2px}

.requests-menu-method,
.tabpanel-summary-label{
	padding:0 2px;
	font-weight:600}

.requests-menu-status-code,
.tabpanel-summary-value{
	padding:0 2px;
	font-family:Menlo,Consolas,Lucida Console,monospace}

#headers-summary-status,
#headers-summary-version{padding-bottom:2px}
#headers-summary-size{padding-top:2px}

#response-content-image{
	margin:4px;
	box-shadow:2px 2px 15px threeddarkshadow,2px 2px 4px threeddarkshadow;
	background:-moz-field;
	color:-moz-fieldtext}
#response-content-image:hover{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEWgoKClpaUrSK7yAAAAAnRSTlNkFG3Yt+YAAAAPSURBVHheY2D4jxXhEgYAfr8P8SM7T18AAAAASUVORK5CYII=)}

.tabpanel-summary-container>.tabpanel-summary-label{
	width:8em;
	text-align:end;
	-moz-padding-end:4px}

.requests-menu-timings-box,
.requests-menu-timings-total{
	min-width:1px}

#request-menu-network-summary{
	text-align:end;
	color:graytext}

.requests-menu-empty-notice:not([hidden="true"])+#requests-menu-contents,
#details-pane-toggle[pane-collapsed]{
	display:none}

.requests-menu-timings-division{
	width:100px;
	min-height:17px;
	-moz-padding-start:2px;
	-moz-border-start:1px solid threedshadow;
	font-size:85%;
	font-weight:600;
	pointer-events:none}
.requests-menu-timings-division:not(:first-child){
	-moz-margin-start:-100px!important}

.requests-menu-subitem.requests-menu-waterfall{
	-moz-padding-start:0;
	-moz-padding-end:4px;
	background-image:-moz-element(#waterfall-background);
	background-repeat:repeat-y}
.requests-menu-subitem.requests-menu-waterfall:-moz-locale-dir(rtl){
	background-position:right center}

.requests-menu-timings-division:-moz-locale-dir(ltr),
.requests-menu-timings:-moz-locale-dir(ltr),
.requests-menu-timings-total:-moz-locale-dir(ltr){
	transform-origin:left center}
.requests-menu-timings-division:-moz-locale-dir(rtl),
.requests-menu-timings:-moz-locale-dir(rtl),
.requests-menu-timings-total:-moz-locale-dir(rtl){
	transform-origin:right center}

.requests-menu-timings-total{
	-moz-padding-start:2px;
	font-size:85%;
	font-weight:600}

.requests-menu-timings-box{height:9px}
.requests-menu-timings-box.blocked{background-color:red}
.requests-menu-timings-box.dns{background-color:rgba(223,128,255,.8)}
 
#headers-summary-resend{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(128px,16px,144px,0)}
	
#response-content-info-header{
	-moz-box-align:center;
	padding:2px 4px;
	font-weight:bold;
	background:infobackground url(chrome://mozapps/skin/extensions/warning-stripes.png) repeat-x;
	color:darkred}

.token-string{color:#0088cc!important}

#requests-menu-network-summary-label{margin:1px!important;padding:1px 2px!important}

#requests-menu-network-summary-button,
#requests-menu-perf-notice-button{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(80px,16px,96px,0)}

#network-statistics-toolbar{background:none}
#network-statistics-charts{min-height:1px}

#network-statistics-charts .pie-chart-container,
#network-statistics-charts .table-chart-container{
	-moz-margin-start:1vw}

.chart-colored-blob[name=html]{fill:#5f88b0;background:#5b5fff}/*Blue-Grey*/
.chart-colored-blob[name=css]{fill:#0088cc;background:#0088cc}/*Blue*/
.chart-colored-blob[name=js]{fill:#d97e00;background:#d97e00}/*Light Orange*/
.chart-colored-blob[name=xhr]{fill:#f13c00;background:#f13c00}/*Orange*/
.chart-colored-blob[name=fonts]{fill:#5b5fff;background:#5b5fff}/*Purple*/
.chart-colored-blob[name=images]{fill:#b82ee5;background:#b82ee5}/*Pink*/
.chart-colored-blob[name=media]{fill:#2cbb0f;background:#2cbb0f}/*Green*/
.chart-colored-blob[name=flash]{fill:#ed2655;background:#ed2655}/*Red*/

#network-statistics-view-splitter,
.table-chart-row-label[name=cached]{
	display:none}

.table-chart-row-label[name=count]{
	width:2em;
	text-align:end}

.table-chart-row-label[name=label],
.table-chart-row-label[name=size]{
	width:6em}
.table-chart-row-label[name=time]{
	width:4em}

.requests-menu-transferred{
	text-align:center;
	width:8em}
	
.requests-security-state-icon{transform:scale(.8);image-rendering:-moz-crisp-edges}
.security-state-insecure{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(80px 20px 96px 0)}
.security-state-secure{
	cursor:pointer;
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(80px 50px 96px 35px)}
.security-warning-icon,
.security-state-weak,
.security-state-broken{
	cursor:pointer;
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(80px 68px 96px 50px)}

.security-info-section{-moz-padding-start:1em}
#security-tabpanel{overflow:auto}
description#security-error-message{white-space:pre-wrap}
.cropped-textbox .textbox-input{text-overflow:ellipsis}

#requests-menu-filter-freetext-text{
	-moz-box-flex:100;
	transition-property:max-width;
	transition-duration:250ms;
	transition-timing-function:ease}
#requests-menu-filter-freetext-text:not([focused]):not([filled]){
	max-width:10em!important}	
