html,.ruleview{height:100%;min-height:100%}
.ruleview{-moz-box-sizing:border-box}

.expandable,
.userStyles,
.userStylesLabel,
.ruleview-property>.property-name,
.rule-matched,
.rule-unmatched{
	cursor:pointer}

.property-view{vertical-align:top}
.property-content>td,
.property-view>td{padding:0}

.unmatchedSelectorTable,
.rulelink{
	-moz-padding-start:18px!important}
.rulelink>table{
	width:100%;
	border-spacing:0}

.rule-link{
	text-align:end;
	-moz-padding-start:10px;
	cursor:pointer}

.rule-text{
	direction:ltr;
	vertical-align:text-bottom}
.rule-link,.rule-text,
.property-header{
	padding:0;
	white-space:nowrap;
	vertical-align:text-top}
.property-name{
	white-space:nowrap;
	width:12em;
	font-weight:bold}
.property-value{
	padding:0;
	vertical-align:text-top;
	width:100%}

.resizerbox{background-color:-moz-dialog}

.userStyles{
	position:relative;
	top:3px}

.ruleview-rule-source{
	float:right;
	-moz-user-select:none}
.ruleview-rule-source:not([unselectable]),
.ruleview-rule-source:not([unselectable])>label{
	cursor:pointer}
.ruleview-rule-source:not([unselectable]):hover{
	background-color:#CCCCFF}

.ruleview-header,
.ruleview-rule-inheritance{
	-moz-user-select:-moz-none;
	font:message-box;
	font-size:90%;
	text-align:center;
	padding:0 1px;
	border:1px outset threedface;
	background:-moz-dialog url(chrome://global/skin/menu-bg.png);
	color:-moz-dialogtext}

.ruleview-code,
.ruleview-rule{
	padding:0 1px}
.ruleview-rule+.ruleview-rule{
	border-top:1px solid threedface}

 .ruleview-enableproperty{
	vertical-align:middle;
	display:inline-block;
	margin:0;
	width:16px;
	height:16px;
	background:-moz-image-rect(url(chrome://global/skin/checkbox.png),14,14,28,0) center no-repeat}
 .ruleview-enableproperty[checked]{
	background-image:-moz-image-rect(url(chrome://global/skin/checkbox.png),0,14,14,0)}
.ruleview-property:not(:hover)>.ruleview-enableproperty{
	opacity:0}

.ruleview-propertylist{
	list-style:none;
	padding:0;
	margin:0}

.ruleview-property{border-left:3px solid transparent;opacity:.99999}
.ruleview-property[dirty]{border-left-color:#2cbb0f}

.ruleview-newproperty{-moz-margin-start:27px}

.ruleview-propertyname,
.ruleview-propertyvalue{
	border:1px solid transparent;
	cursor:text}

.ruleview-propertyname{color:#5b5fff} /*purple*/

.ruleview-namecontainer,
.ruleview-propertycontainer,
.ruleview-propertyname,
.ruleview-propertyvalue{
	text-decoration:inherit}

.ruleview-namecontainer:hover>.ruleview-propertyname,
.ruleview-propertyvaluecontainer:hover>.ruleview-propertyvalue,
.ruleview-propertycontainer:hover>.ruleview-propertyvalue{
	border-bottom-style:dashed;
	border-bottom-color:threedshadow}

.ruleview-computedlist{
	list-style:none;
	padding:0}

.ruleview-computed{
	-moz-margin-start:4em}

.styleinspector-propertyeditor{
	padding:0;
	border-width:0;
	box-shadow:0 0 1px graytext,1px 1px 3px threedshadow}

.ruleview-ruleopen,
.ruleview-ruleclose{
	width:-moz-min-content;
	padding-right:20px}

.ruleview-ruleopen:hover,
.ruleview-ruleclose:hover{
	background-color:#CCCCFF;
	color:black}
.ruleview-ruleopen:hover:active,
.ruleview-ruleclose:hover:active{
	background-color:highlight;
	color:highlighttext}

.ruleview-warning{
	display:inline-block;
	background:url(chrome://global/skin/icons/warning-16.png);
	-moz-margin-start:5px;
	vertical-align:top;
	width:16px;
	height:16px}

.ruleview-selector-separator,
.ruleview-selector-unmatched{
	color:graytext}
