.stylesheet-rule-count{display:-moz-box!important}

.stylesheet-editor-input{
	display:-moz-box;
	-moz-box-flex:1}

.stylesheet-media-container,
.splitview-nav{
	padding:0;
	margin:0;
	border-width:0;
	border-style:solid;
	border:2px solid;
	-moz-border-top-colors:threedshadow threeddarkshadow;
	-moz-border-left-colors:threedshadow threeddarkshadow;
	-moz-border-right-colors:threedhighlight threedshadow;
	-moz-border-bottom-colors:threedhighlight threedshadow;
	background-image:-moz-linear-gradient(-moz-dialog,graytext 200%)}
.splitview-nav:focus{outline:0}
.stylesheet-media-container{border-bottom-width:0}

@media (min-width:551px){
.splitview-details.splitview-active{-moz-box-orient:horizontal}
.splitview-nav{border-bottom-width:0}
}
@media (max-width:550px){
.splitview-controller{max-height:20em!important}
.splitview-nav{-moz-border-end-width:0}
.splitview-nav>li,
.stylesheet-info,
.stylesheet-info>h1{
	-moz-box-align:center!important}
.stylesheet-more{
	-moz-box-direction:normal!important;
	-moz-box-align:center!important;
	-moz-box-pack:end!important}
}

#splitview-details-toolbar{
	-moz-box-align:stretch;
	background:none!important}
.splitview-portrait-resizer,
.splitview-landscape-resizer{
	background:none}
.splitview-portrait-resizer{height:7px}
.splitview-landscape-resizer{width:7px}

.media-rule-label,
.splitview-nav>li{
	-moz-box-pack:start;
	outline:0;
	padding:0;
	border:1px outset threedface;
	background-color:-moz-Dialog;
	color:-moz-DialogText}

.media-rule-label:hover,
.splitview-portrait-resizer:hover,
.splitview-landscape-resizer:hover,
.splitview-nav>li:hover{
	background-color:#CCCCFF;
	color:black}
li.splitview-active{
	background-color:highlight!important;
	color:highlighttext!important}
li.splitview-active .splitview-name{font-weight:bold}

.placeholder{
	text-align:center}

.splitview-main .toolbar,
.splitview-main .toolbar>*{
	display:-moz-box}
.splitview-main .toolbar{
	-moz-box-flex:1;
	-moz-box-orient:horizontal;
	-moz-padding-start:3px}

a{
	color:-moz-hyperlinktext;
	text-decoration:underline}

.stylesheet-info{
	-moz-box-pack:start!important;
	-moz-box-align:stretch!important}

.stylesheet-name{
	outline:0;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-decoration:none;
	color:inherit}
.splitview-active .stylesheet-name{font-weight:bold}
.unsaved .stylesheet-name{font-style:italic}
.unsaved:-moz-locale-dir(ltr) .stylesheet-name:before,
.unsaved:-moz-locale-dir(rtl) .stylesheet-name:after{
	font-style:italic;
	content:"* "}

.stylesheet-enabled{
	float:left;
	width:20px;
	height:20px;
	max-height:20px;
	margin:1px;
	border:1px solid transparent;
	background:-moz-image-rect(url(chrome://global/skin/checkbox.png),0,14,14,0) 2px 1px no-repeat}
.stylesheet-enabled:-moz-locale-dir(rtl){float:right}
.disabled>.stylesheet-enabled{
	background-image:-moz-image-rect(url(chrome://global/skin/checkbox.png),14,14,28,0)}
.stylesheet-enabled:hover{
	box-shadow:1px 1px 2px threedshadow;
	border:1px outset threedface;
	background-color:#CCCCFF}
.stylesheet-enabled:hover:active{
	border-style:outset;
	background-color:highlight}

.stylesheet-error-message{color:darkred}

.stylesheet-title,
.stylesheet-stats{
	-moz-margin-end:2px;
	color:threeddarkshadow}

.stylesheet-actions{
	-moz-box-flex:1;
	text-align:end}

h1,h2,h3{
	font-size:inherit;
	font-weight:normal;
	margin:0;
	padding:0}

.loading>box>box>box>.splitview-nav{
	background:url(chrome://global/skin/icons/loading_16.png) no-repeat center}

.splitview-nav-container>spacer{display:none}
.splitview-nav-container>.devtools-toolbar{-moz-box-ordinal-group:0}
.splitview-main>.devtools-toolbar{min-width:inherit}
.profile-name{padding:2px!important;font-size:inherit!important}
.media-condition-unmatched{color:graytext}
.media-rule-condition{padding:0 1px}
.media-rule-condition:not(.media-condition-unmatched){font-weight:600}
.media-rule-line{pointer-events:none;color:inherit;border-width:0}
.stylesheet-sidebar>.devtools-toolbar{padding:2px}