.notice-container{margin-top:-50vh}
.notice-container{
	background-color:-moz-dialog;
	color:-moz-dialogtext}
#reload-notice{font-size:120%}
#waiting-notice{font-size:110%}

#waiting-notice::before{
	display:inline-block;
	content:"";
	background:url(chrome://global/skin/icons/loading_16.png) center no-repeat;
	width:16px;
	height:16px;
	-moz-margin-end:6px}

svg{-moz-box-flex:1;overflow:hidden}

.edgePath path{
	stroke-width:1.5px;
	fill:none;
	stroke:graytext}
marker#arrowhead{
	fill:graytext!important}

.nodes rect{
	stroke-width:.75px;
	cursor:pointer;
	fill:-moz-dialog;
	stroke:graytext}
g.selected rect{fill:highlight}
text{
	cursor:default;
	fill:-moz-dialogtext}
.nodes text{cursor:pointer}	
g.selected text{fill:highlighttext}

.web-audio-inspector .error{
	background-image:url(chrome://global/skin/icons/warning-16.png);
	background-size:12px 12px;
	-moz-appearance:none;
	opacity:0;
	transition:opacity .5s ease-out 0s}

#inspector-pane-toggle{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,126px,16px,110px)}
#inspector-pane-toggle[pane-collapsed]{
	-moz-image-region:rect(0,110px,16px,94px)}

g.edgePath.param-connection{stroke-dasharray:5,5}
.edgePath.param-connection path{stroke:threedshadow}
g.edgeLabel rect{fill:-moz-field}
g.edgeLabel tspan{fill:graytext}

#automation-param-toolbar .automation-param-button[selected]{
	background-color:highlight;
	color:highlighttext}
#automation-graph{
	overflow:hidden;
	-moz-box-flex:1}

#content>.devtools-horizontal-splitter,
.variables-view-scope>.title{display:none}

.bypass{list-style-image:url(debugger.png);-moz-image-region:rect(0,16px,16px,0)}

#web-audio-editor-tabs>tabpanels{border-width:0;padding:0}