#permissions-pagetitle {
  display:none}
#permissions-page{
	font:message-box;
	background:threedshadow url(chrome://global/skin/highlight.png);
	color:-moz-DialogText}
#permissions-content{
  -moz-box-align:start;
  height: 100%}
#sites-box{
	width:25em;
	padding:2px;
	border:1px outset threedface;
	background:-moz-dialog}
#sites-filter{margin:0 0 4px 0}
#all-sites-item>.site-container>.site-favicon{list-style-image:none}
#permissions-box{
	overflow-y:auto;
	border:1px outset threedface;
	max-width:800px;
	background:-moz-Dialog;
	color:-moz-DialogText}

#header-deck{
	padding:2px}

#permissions-list{
	margin:0 4px 4px 4px;
	overflow-y:auto;
	border:1px inset threedface;
	background:-moz-dialog}
#defaults-description,
#site-description,#site-visit-count{font-size:120%;-moz-margin-start:6px}
#defaults-description{font-weight:bold}
#site-label{font-weight:bold;padding:0 4px}
.site-domain{max-width:200px}

.site-favicon{
	height:16px;
	width:16px;
	-moz-margin-end:2px;
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(144px 16px 160px 0)}

.pref-item[align="top"]{
	margin:0;
	padding:4px}
.pref-icon{
	width:32px;
	height:32px;
	margin:4px}
.pref-title{margin:0 2px;font-weight:bold}
.pref-menulist{min-width:15em}

.pref-icon[type="password"]{
	list-style-image:url(chrome://browser/skin/key-64.png)}
.pref-icon[type="geo"]{
	list-style-image:url(chrome://browser/skin/geo_64.png)}
.pref-icon[type="indexedDB"]{
	list-style-image:url(chrome://browser/skin/indexedDB-64.png)}
.pref-icon[type="install"]{
	list-style-image:url(chrome://mozapps/skin/extensions/addons.png);
	-moz-image-region:rect(0,32px,32px,0)}
.pref-icon[type="image"]{
	list-style-image:url(chrome://mozapps/skin/extensions/addons.png);
	-moz-image-region:rect(0,64px,32px,32px)}
.pref-icon[type="popup"]{
	list-style-image:url(chrome://browser/skin/preferences/permissions.png);
	-moz-image-region:rect(0,96px,32px,64px)}
.pref-icon[type="cookie"]{
	list-style-image:url(chrome://browser/skin/preferences/permissions.png);
	-moz-image-region:rect(0,32px,32px,0)}
.pref-icon[type="desktop-notification"] {
  list-style-image: url(chrome://global/skin/icons/notification-large.png)}
.pref-icon[type="plugins"]{
	list-style-image:url(chrome://mozapps/skin/extensions/addons.png);
	-moz-image-region:rect(0 128px 32px 96px)}
.pref-icon[type="fullscreen"]{
	list-style-image:url(chrome://browser/skin/preferences/permissions.png);
	-moz-image-region:rect(0,64px,32px,32px)}
.pref-icon[type="pointerLock"] {
  list-style-image: url(chrome://browser/skin/pointerLock-64.png)}

#forget-site-button{
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(272px 16px 288px 0)!important}
