:root{
	font:message-box;
	background-color:-moz-dialog;
	color:-moz-dialogtext}

.view-project-detail,
#sources{
	overflow:auto}

.file-label{
	vertical-align:middle;
	display:inline-block}

.file-icon{
	display:inline-block;
	margin:2px;
	width:15px;
	height:15px;
	vertical-align:middle;
	background:url(file-icons-sheet.png);
	background-repeat:no-repeat;
	background-position:-30px 0}
.icon-css{background-position:0 0}
.icon-js{background-position:-15px 0}
.icon-html{background-position:-30px 0}
.icon-file{background-position:-45px 0}
.icon-folder{background-position:-60px 0}
.icon-img{background-position:-75px 0}
.icon-manifest{background-position:-90px 0}

.entry{
	display:flex;
	align-items:center}

.entry .file-label{
	display:flex;
	flex:1;
	align-items:center}

.entry{
	border:none;
	box-shadow:none;
	outline:none;
	white-space:nowrap;
	cursor:pointer}

.entry:hover:not(.selected){
	background-color:#CCCCFF;
	color:black}
.entry:hover:not(.selected):not(.entry-group-title){
	background-image:url(chrome://global/skin/menu-bg.png)}
.entry:hover:active,
.entry.selected{
	background-color:highlight;
	color:highlighttext}

.entry-group-title{
	font-weight:bold;
	border-bottom:1px solid graytext;
	background:-moz-dialog url(chrome://global/skin/toolbar-bg.png);
	color:-moz-dialogtext}

#projecteditor-toolbar textbox{margin:0}
.projecteditor-basic-display{padding:0 3px}

.project-name-label{
	font-size:120%;
	font-weight:bold;
	-moz-padding-start:4px}

.project-version-label{
	color:graytext;
	-moz-padding-start:4px;
	font-size:90%}

.project-image{
	max-height:24px;
	margin:2px 2px 2px -30px;
	vertical-align:middle}

.editor-image{margin:10px}
.editor-image:hover{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEWgoKClpaUrSK7yAAAAAnRSTlNkFG3Yt+YAAAAPSURBVHheY2D4jxXhEgYAfr8P8SM7T18AAAAASUVORK5CYII=)}

.projecteditor-file-label{
	font-weight:bold;
	-moz-padding-start:29px;
	vertical-align:middle}

.project-flex{flex:1}

.project-image,
.project-status,
.project-options{
	flex-shrink:0}

.project-status{
	width:11px;
	height:11px;
	border-radius:50%;
	border:1px solid graytext;
	box-shadow:-1px -1px 0 threedshadow inset,1px 1px 0 threedhighlight inset,1px 1px 1.5px threedshadow;
	-moz-margin-end:4px;
	background-color:#70bf53}
.project-status:not([status]){visibility:hidden}
.project-status[status=warning]{background-color:#d99b28}
.project-status[status=error]{background-color:#ed2655}

/*Not a really useful button
.project-options[src]{
	margin:1px!important;
	-moz-margin-end:4px!important;
	width:20px;
	height:20px;
	border:1px solid transparent;
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),96,16,112,0),none;
	background-position:center,center!important;
	background-repeat:no-repeat,repeat!important}
.project-options[src]:hover{
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),96,16,112,0),url(chrome://global/skin/menu-bg.png)!important}
*/

.plugin-hidden,
#projecteditor-menubar,
#projecteditor-toolbar,
#projecteditor-toolbar-bottom,
.icon-none,
.entry-group-title .expander,
.tree-collapsed .children,
.project-options{
	display:none}
