@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

tabbox{
	border:1px inset threedface;
	background:-moz-Dialog url(chrome://global/skin/shade.png)}

window>tabbox{margin:0!important}

.tabs-left,.tabs-right{min-width:3px;border-bottom:1px solid threedhighlight}
.tabs-bottom>.tabs-left,.tabs-bottom>.tabs-right{border-bottom:0}

tabpanels{
	border-left:1px solid threedhighlight;
	border-right:1px solid threedshadow;
	border-bottom:1px solid threedshadow;
	background-color:-moz-Dialog;
	padding:2px}

tab{
	border-radius:9px 9px 0 0;
	margin-top:2px;
	border:1px solid;
	border-color:transparent transparent threedhighlight transparent;
	padding:1px 3px 0 3px}

tab:hover:not([selected="true"]):not([disabled="true"]){
	border-color:threedhighlight threedshadow threedhighlight threedhighlight;
	background-color:#CCCCFF;
	color:black}

tab[selected="true"]{
	border-color:threedhighlight threedshadow -moz-Dialog threedhighlight;
	background-color:-moz-Dialog;
	color:-moz-DialogText}

tab[disabled="true"]{
	color:graytext;
	text-shadow:1px 1px 1px threedhighlight}

.tab-bottom{
	border-radius:0;
	border:1px solid transparent;
	padding:2px;
	margin:0}
.tab-bottom:hover:not([selected="true"]){
	border:1px outset threedface;
	padding:2px;
	margin:0}
.tab-bottom[selected="true"]{
	padding:2px;
	margin:0;
	border:1px inset threedface;
	background:-moz-Field url(chrome://global/skin/shade.png);
	color:-moz-FieldText}

/*TABMIXPLUS*/
.groupbox-panels{
	-moz-appearance:none!important;
	padding:0!important}
tabpanels#tabpanId tabbox[value]{
	width:400px;
	padding:0!important;
	border:1px inset threedface!important}
