#jsterm-window{
 	font:message-box;
	font-family:Menlo,Andale Mono,Consolas,monospace;
	background-color:-moz-dialog;
	color:-moz-dialogtext}

#editors-container{
	overflow-y:auto;
	border:1px inset threedface;
	border-left-width:0;
	background:-moz-field;
	color:-moz-fieldtext}

#output-container{margin-left:10px}
#prompt{width:10px;font-weight:bold}
.multiline>#prompt{border-right:1px solid -moz-dialogtext}
.chrome>#prompt{color:darkred}

#completion-candidates{
	margin-left:16px;
	opacity:.8}