@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

menupopup{-moz-window-shadow:menu}
popup,panel{-moz-window-shadow:sheet}
.tooltip,tooltip{-moz-window-shadow:tooltip}
#customizeToolbarSheetPopup{-moz-window-shadow:sheet}

#addon-bar{padding-right:16px}

toolbar:not([nowindowdrag="true"]),
#TabsToolbar[tabsontop="true"]:not(:-moz-lwtheme):-moz-system-metric(menubar-drag){
	-moz-binding:url(chrome://global/content/bindings/toolbar.xml#toolbar-drag)}
statusbar:not([nowindowdrag="true"]){
	-moz-binding:url(chrome://global/content/bindings/general.xml#statusbar-drag)}
windowdragbox,
.wizard-buttons-btm{
	-moz-binding:url(chrome://global/content/bindings/general.xml#windowdragbox)}

resizer[type="window"]{display:none}

#titlebar{height: 22px}

#main-window:not([privatebrowsingmode=temporary]):not(:-moz-lwtheme) > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window:not([drawintitlebar=true]):not(:-moz-lwtheme) > #titlebar {
  display: none}

#titlebar-spacer{
  display: none}

#titlebar-buttonbox-container{
  margin-left: 7px;
  margin-top: 3px}

#main-window:-moz-lwtheme > #titlebar{
  -moz-appearance: none !important}

toolbox:-moz-window-inactive{
	color:inherit!important;
	opacity:1!important}

#main-window:not([privatebrowsingmode=temporary])[tabsontop="true"]>#titlebar{
	-moz-appearance:toolbar;
	display:-moz-box;
	height:25px;
	margin-bottom:-25px}
#main-window:not([privatebrowsingmode=temporary]) #TabsToolbar[tabsontop="true"]{
	border-width:0!important;
	background:none!important}
