@import url(chrome://global/skin/inContentUI.css);

*|*:root{background:-moz-Dialog!important}

#error-box{
	max-width:80%;
	margin:1em auto 0 auto;
	min-height:36px;
	-moz-padding-start:30px;
	background:url(chrome://global/skin/icons/information-large.png) no-repeat left 4px}
#error-box:-moz-locale-dir(rtl){background-position:right 4px}
@media all and (min-width:400px){#error-box{max-width:50%}}

#main-error-msg{font-weight:bold}

#button-box{
	text-align:center;
	margin:0 auto}
