#layout-wrapper{padding:2px 4px}
#layout-expander{margin:1px}
#layout-header{margin:0}
#layout-element-size{flex:1}

#layout-main{
	position:relative;
	box-sizing:border-box;
	margin:0 auto;
	max-width:400px;
	min-width:300px;
	background-color:-moz-field;
	color:-moz-fieldtext}

#layout-grid-content{
	display:flex}

.layout-grid-list-container{
	display:flex;
	flex:1}

.layout-grid-list{
	list-style:none}

.layout-legend{
	position:absolute;
	margin:2px 6px;
	z-index:1;
	font-weight:600;
	color:-moz-dialogtext}

#layout-margins{
	padding:23px 35px;
	border:1px solid graytext}

#layout-borders{
	padding:23px 35px;
	border:1px solid graytext;
	background:threedshadow}

.layout-border,
.layout-legend[data-box="border"]{
	color:threedhighlight}

#layout-padding{
	padding:23px 35px;
	border:1px solid graytext;
	background:-moz-dialog}

#layout-content{
	height:24px;
	border:1px solid graytext;
	background-color:-moz-field}

#layout-main>p{
	position:absolute;
	pointer-events:none;
	margin:0;
	text-align:center}

#layout-main>p>span,
#layout-main>p>input{
	vertical-align:middle;
	pointer-events:auto}

.layout-size,.layout-top,.layout-bottom{width:100%}

.layout-margin.layout-top{top:2px}
.layout-margin.layout-bottom{bottom:3px}
.layout-border.layout-top{top:26px}
.layout-border.layout-bottom{bottom:28px}
.layout-padding.layout-top{top:50px}
.layout-padding.layout-bottom{bottom:52px}

.layout-size,
.layout-margin.layout-left,
.layout-margin.layout-right,
.layout-border.layout-left,
.layout-border.layout-right,
.layout-padding.layout-left,
.layout-padding.layout-right{
	top:75px;
	line-height:inherit}

.layout-margin.layout-right,
.layout-margin.layout-left,
.layout-border.layout-left,
.layout-border.layout-right,
.layout-padding.layout-right,
.layout-padding.layout-left{width:35px}
.layout-padding.layout-left{left:73px}
.layout-padding.layout-right{right:73px}
.layout-border.layout-left{left:37px}
.layout-border.layout-right{right:37px}
.layout-margin.layout-right{right:1px}
.layout-margin.layout-left{left:1px}

.layout-styleinspector-propertyeditor,
.layout-editable{
	padding:0 2px!important;
	text-align:center}
.layout-editable:hover{
	background-color:#CCCCFF;
	color:black}
.layout-styleinspector-propertyeditor{
	border:1px solid graytext;
	box-shadow:1px 1px 2px graytext}
.layout-size>span{cursor:default}

#layout-geometry-editor,
.inactive>#layout-header>#layout-element-position,
.inactive>#layout-header>#layout-element-size,
.inactive>#layout-main>p{
	visibility:hidden}
	
#layout-geometry-editor::before{
	background:-moz-image-rect(url(debugger.png),0,416,16,400) no-repeat center}
	
grid-container{
	display:flex;
	flex-direction:column;
	flex:1;
	align-items:center}

.grid-container>span{
	font-weight:bold;
	margin-bottom:3px}

.grid-container>ul{
	list-style:none;
	margin:0;
	padding:0}

.grid-container li{
	padding:4px 0}

#layout-grid-container{
	display:flex;
	margin:4px}

.layout-no-grids{
	font-style:italic;
	text-align:center;
	padding:4px}

.grid-item{
	display:flex;
	align-items:center}

.grid-item input{
	margin:0 4px}

.grid-color-swatch{
	width:12px;
	height:12px;
	margin-inline-start:4px;
	border:1px solid graytext;
	border-radius:50%;
	cursor:pointer}

.grid-color-value{
	display:none}

#layout-container,
#layout-container>.accordion{
	width:100%;
	height:100%}
#layout-container>.accordion{overflow:auto}