.options-groupbox>hbox,.hidden-labels-box{-moz-box-align:center}
.hidden-labels-box:not(.visible)>label,
.hidden-labels-box.visible~.hidden-labels-box>label:last-child{display:none}

.text-link[onclick]{
	text-decoration:none;
	border-radius:5px;
	padding:1px!important;
	margin:2px!important;
	border:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-left-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-right-colors:ThreeDDarkShadow ThreeDShadow;
	-moz-border-bottom-colors:ThreeDDarkShadow ThreeDShadow;
	background:ButtonFace url(chrome://global/skin/menu-bg.png);
	color:ButtonText}
.text-link[onclick="restart()"]::before{
	content:" ";
	display:block;
	width:20px;
	height:16px;
	background:-moz-image-rect(url(chrome://mozapps/skin/extensions/extensions.png),0,16,16,0) center no-repeat}
.text-link[onclick]:hover{
	background-color:#CCCCFF;
	color:black}
.text-link[onclick]:hover:active{
	-moz-border-bottom-colors:threedshadow transparent;
	-moz-border-right-colors:threedshadow transparent;
	-moz-border-left-colors:threeddarkshadow threedshadow;
	-moz-border-top-colors:threeddarkshadow threedshadow;
	background-color:Highlight;
	color:HighlightText}
.text-link[onclick]:focus:not(:active){
	box-shadow:0 0 0 2px #CCCCFF}
