@import url(chrome://global/skin/);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#alertNotification{background:transparent}
#alertNotification[clickable="true"]{cursor:pointer}
.alertBox{
	padding:2px;
	border:1px outset threedface;
	background-color:-moz-Dialog;
	color:-moz-DialogText}
#alertImage{
	margin:2px;
	max-width:48px;
	max-height:48px;
	list-style-image:url(chrome://global/skin/icons/notification-48.png)}
.alertTextBox{
	width:250px;
	padding:2px}
.alertTitle{
	font-weight:bold}
.alertText[clickable="true"]{
	cursor:pointer;
	color:-moz-nativehyperlinktext;
	text-decoration:underline}
.alertText[clickable="true"]:hover{
	background-color:#CCCCFF;
	color:black}
.alertText[clickable="true"]:hover:active{
	background-color:highlight;
	color:highlighttext}

.alertCloseButton{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(177px 31px 191px 17px)}
.alertCloseButton:hover{
	-moz-image-region:rect(225px 31px 239px 17px)}
.alertCloseButton:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)}
