@import url(chrome://global/skin/netError.css);

#tabList{width:100%;height:12em;margin:2px 0}
.button-container>#errorTryAgain{position:relative;left:0}

treechildren::-moz-tree-image(icon),
treechildren::-moz-tree-image(noicon){
	padding-inline-end:2px;
	margin:0 2px;
	width:16px;
	height:16px}
treechildren::-moz-tree-image(noicon){
	list-style-image: url(chrome://global/skin/global.png);
	-moz-image-region:rect(144px,16px,160px,0)}
treechildren::-moz-tree-image(container,noicon){
	-moz-image-region:rect(16px,32px,32px,16px)}

treechildren::-moz-tree-image(restore){
	list-style-image:url(chrome://global/skin/checkbox.png);
	-moz-image-region:rect(14px 14px 28px 0)}
treechildren::-moz-tree-image(checked){
	list-style-image:url(chrome://global/skin/checkbox.png);
	-moz-image-region:rect(0 14px 14px 0)}
treechildren::-moz-tree-image(partial){
	list-style-image:url(chrome://global/skin/checkbox.png);
	-moz-image-region:rect(0 28px 14px 14px)}

.container.flex{
	display:flex;
	flex-direction:column;
	flex-grow:1}
.tree-container{
	flex-grow:1;
	min-height:12em}
.tree-container>tree{
	height:100%}

@media(min-width:35em){ul.columns{column-count:2;column-gap:5em}}
