#errorPageContainer{background-image:url(chrome://global/skin/icons/question-32.png)}
body.private>#errorPageContainer{background-image:url(chrome://browser/skin/Privacy-24.png)}
#clearRecentHistoryDesc{margin-top:2em}
#footerDesc>p,
#clearRecentHistoryDesc>p{font-size:110%}
#moreInfo{
	font-size:110%;
	-moz-padding-start:25px;
	background:url(chrome://global/skin/icons/information-16.png) no-repeat top left}
#moreInfoLink{padding:1px 2px}
#moreInfoLink:hover{background-color:#CCCCFF}
#moreInfoLink:active{background-color:Highlight;color:HighlightText!important}
#startPrivateBrowsing{list-style-image:url(chrome://browser/skin/Privacy-16.png)}