@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

button{
	padding:1px;
	border:2px solid;
	-moz-border-top-colors:buttonhighlight buttonface;
	-moz-border-left-colors:buttonhighlight buttonface;
	-moz-border-right-colors:buttonshadow buttonface;
	-moz-border-bottom-colors:buttonshadow buttonface;
	background-color:ButtonFace;
	color:ButtonText}
toolbar>button,
toolbar>*>button{
	-moz-border-top-colors:transparent;
	-moz-border-left-colors:transparent;
	-moz-border-right-colors:transparent;
	-moz-border-bottom-colors:transparent;
	background:none}
.button-box{
	border-width:0!important}

button:focus,button:focus:hover:not([disabled="true"]){
	-moz-border-top-colors:highlight buttonhighlight;
	-moz-border-left-colors:highlight buttonhighlight;
	-moz-border-right-colors:highlight buttonshadow;
	-moz-border-bottom-colors:highlight buttonshadow}

.button-text{
	margin:0 1px;
	text-align:left;
	vertical-align:middle}
button:not([label])>.button-box>.button-text,
.button-text:not([value]),.button-text[value=""]{
	display:none}

button[checked="true"]{
	-moz-border-top-colors:buttonshadow buttonface;
	-moz-border-left-colors:buttonshadow buttonface;
	-moz-border-right-colors:buttonhighlight buttonface;
	-moz-border-bottom-colors:buttonhighlight buttonface;
	background-color:rgba(255,255,255,.5)}

button:hover:not([disabled="true"]){
	border:2px solid;
	-moz-border-top-colors:buttonhighlight #CCCCFF;
	-moz-border-left-colors:buttonhighlight #CCCCFF;
	-moz-border-right-colors:buttonshadow #CCCCFF;
	-moz-border-bottom-colors:buttonshadow #CCCCFF;
	background-color:#CCCCFF;
	color:black}

button[default]:not([disabled="true"]),
button[default]:hover:not([disabled="true"]){
	-moz-border-top-colors:buttonhighlight white;
	-moz-border-left-colors:buttonhighlight white;
	-moz-border-right-colors:threeddarkshadow buttonshadow;
	-moz-border-bottom-colors:threeddarkshadow buttonshadow;
	font-weight:bold}

button:hover:active:not([type="menu"]):not([disabled="true"]),
button:focus:hover:active:not([type="menu"]):not([disabled="true"]),
button[default]:hover:active:not([disabled="true"]){
	-moz-border-top-colors:buttonshadow threeddarkshadow;
	-moz-border-left-colors:buttonshadow threeddarkshadow;
	-moz-border-right-colors:buttonhighlight white;
	-moz-border-bottom-colors:buttonhighlight white;
	background-color:highlight;
	color:highlighttext}

button[disabled="true"]{
	-moz-border-top-colors:ButtonHighlight ButtonFace!important;
	-moz-border-left-colors:ButtonHighlight ButtonFace!important;
	-moz-border-right-colors:ButtonShadow ButtonFace!important;
	-moz-border-bottom-colors:ButtonShadow ButtonFace!important;
	background:-moz-dialog none!important;
	color:graytext!important;
	text-shadow:1px 1px 1px threedhighlight}
toolbar>button[disabled="true"],
toolbar>*>button[disabled="true"]{
	-moz-border-top-colors:transparent;
	-moz-border-left-colors:transparent;
	-moz-border-right-colors:transparent;
	-moz-border-bottom-colors:transparent;
	background-color:transparent!important}
button[disabled="true"]>.button-box>.button-icon{
	opacity:.5;
	filter:url(chrome://global/skin/greyscale.svg#greyscale)}

#MacAcceptBtn,#ok,#closeButton,#donebutton,
button:-moz-any([dlgtype="accept"],[dlgtype="finish"],
[anonid="enable"],[icon="accept"],[label="OK"],button[label="Save"]){
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(0 16px 16px 0)}
#cancel,
button:-moz-any([label="Close"],[anonid="disable"],[dlgtype="cancel"],[label="Cancel"],[icon="close"]){
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(16px 16px 32px 0)}
#help,#HelpButton,
button:-moz-any([dlgtype="help"],[label="More Info"],[icon="help"]){
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(32px 16px 48px 0)!important}
button[icon="apply"],button[label^="Apply"]{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(80px 16px 96px 0)}
button[type="disclosure"]{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(-1px 12px 11px 0)}
button[type="disclosure"][open="true"]{
	-moz-image-region:rect(-1px 25px 11px 13px)}

.busy{list-style-image:url(chrome://global/skin/loading.gif)}

.up,#up{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(0 60px 10px 50px)}
.down,#dn,#down{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(10px 60px 20px 50px)}

button[label="Next"]:-moz-locale-dir(rtl),
button[label="Prev"]{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(192px 16px 208px 0)}
button[label="Prev"]:-moz-locale-dir(rtl),
button[label="Next"]{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(208px 16px 224px 0)}

button[type="menu-button"]{
	background-color:transparent!important;
	color:buttontext!important;
	padding:0!important;
	border-width:0!important}
.button-menubutton-dropmarker{
	border:1px outset threedface;
	background-color:buttonface}
button:not([buttonover="true"]):hover>.button-menubutton-dropmarker{
	background-color:#CCCCFF;
	color:black}
button:not([buttonover="true"]):hover:active>.button-menubutton-dropmarker,
button[open="true"]>.button-menubutton-dropmarker{
	border:1px inset threedface!important;
	background-color:highlight!important;
	color:highlighttext!important}
