@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

menulist{
	vertical-align:middle;
	-moz-box-pack:center;
	margin:1px;
	padding:0;
	border:2px solid;
	-moz-border-top-colors:threedshadow threedhighlight;
	-moz-border-left-colors:threedshadow threedhighlight;
	-moz-border-right-colors:threedhighlight threedshadow;
	-moz-border-bottom-colors:threedhighlight threedshadow;
	background-color:-moz-Dialog;
	color:-moz-DialogText}
toolbar>menulist:not(.devtools-menulist),
toolbar>*>menulist{
	max-width:20em}

menulist:focus{
	outline:1px solid #9999CC}

menulist:hover:not([disabled="true"]):not([droppable="false"]){
	background-color:#CCCCFF;
	color:black}

menulist[selected="true"]{font-weight:bold!important}
.menulist-label-box{-moz-box-align:center}
.menulist-icon{margin:1px;max-width:16px}
.menulist-label{padding:1px!important}

.menulist-description{
	font-style:italic;
	color:GrayText;
	margin-inline-start:1ex!important}

.menulist-dropmarker{
	border:0!important;
	padding:1px;
	padding-inline-start:2px;
	-moz-box-pack:center;
	-moz-box-align:center;
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(10px 60px 20px 50px)}
.menulist-dropmarker[disabled="true"]{
	pointer-events:none;
	-moz-image-region:rect(10px 70px 20px 60px)}
menulist[open="true"]>.menulist-dropmarker{
	-moz-image-region:rect(0 60px 10px 50px)}

menulist[editable="true"]{
	border:1px inset threedface;
	background-color:-moz-Field;
	color:-moz-FieldText}
menulist[editable="true"]>.menulist-dropmarker{
	background-color:-moz-Dialog;
	border:1px solid transparent;
	-moz-border-left-colors:threedshadow}
menulist[editable="true"]:not([disabled="true"])>.menulist-dropmarker:hover{
	background-color:#CCCCFF;
	border:1px outset threedface}

menulist[disabled="true"]{
	pointer-events:none;
	text-shadow:1px 1px 1px threedhighlight!important;
	background-color:-moz-dialog;
	color:graytext!important}

html|*.menulist-editable-input{
	-moz-appearance:none;
	background:none;
	border:0;
	margin:1px;
	padding:0;
	color:inherit;
	font:inherit;
	text-shadow:inherit}

html|*.menulist-editable-input:focus{
	box-shadow:inset 0 0 0 1px #CCCCFF}
