@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

menu,
menuitem,
menucaption,
.splitmenu-menuitem{
	font:menu;
	padding:1px;
	list-style-image:none;
	-moz-image-region:auto}
menuitem{padding-inline-end:10px}

menu{max-width:32em}

menu>stack,
menuitem>stack,
.menu-inner-content{-moz-box-flex:1}
.menu-inner-content>hbox{-moz-box-pack:end}

menu:hover:not([disabled="true"]):not([open="true"]),
menuitem:hover:not([disabled="true"]),
.splitmenu-menuitem:hover:not([disabled="true"]),
menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"],
.splitmenu-menuitem[_moz-menuactive="true"]{
	background-color:#CCCCFF;
	color:black}

menuitem:hover:active:not([disabled="true"]),
.splitmenu-menuitem:hover:active:not([disabled="true"]),
menu[open="true"]{
	background-color:Highlight!important;
	color:HighlightText!important}

menu[disabled="true"],
menuitem[disabled="true"],
.splitmenu-menuitem[disabled="true"]{
	pointer-events:none;
	-moz-user-focus:none;
	color:graytext!important;
	text-shadow:1px 1px 1px threedhighlight}

:-moz-any(menucaption,menuitem,.splitmenu-menuitem)[disabled="true"]>.menu-iconic-left{
	filter:opacity(.4) grayscale(1)}

menuitem[selected="true"]{
	font-weight:bold!important}

menubar>menu{
	border:1px solid transparent;
	padding:0;
	outline-offset:-1px;
	-moz-box-align:center;
	-moz-box-pack:center}
menubar>menu[_moz-menuactive="true"]:not([open="true"]):not(:hover){
	background-color:transparent;
	outline:1px solid highlight}
menubar>menu:hover:not([disabled="true"]):not([open="true"]){
	border-color:threedhighlight threedshadow threedshadow threedhighlight}
menubar>menu[open="true"]{
	border-color:threedshadow threedhighlight threedhighlight threedshadow!important}

menuitem.spell-suggestion,
menuitem[default="true"]{font-weight:bold}

.menu-description{
	font-style:italic;
	color:GrayText;
	margin-inline-start:1ex!important}

.menu-accel,
.menu-text,
.menu-iconic-accel,
.menu-iconic-text{
	margin-top:0!important;
	margin-bottom:1px!important;
	margin-inline-start:2px!important;
	margin-inline-end:1px!important;
	color:inherit}

.menu-accel,
.menu-iconic-accel{
	padding-inline-start:5px!important;
	color:graytext}	

.menu-text{
	margin-inline-start:18px!important;
	font-weight:inherit}
.menubar-text{
	margin:0 3px!important}

menucaption>.menu-text,
menucaption>.menu-iconic-text{
	font-weight:bold;
	margin-inline-start:0!important}

.menu-iconic-left{
	-moz-box-align:center;
	-moz-box-pack:center;
	width:16px;
	padding-inline-end:1px!important}

.menu-iconic-right{
	-moz-box-align:center;
	-moz-box-pack:center;
	padding-inline-start:1px;
	padding-inline-end:1px}

.menu-right{
	margin:1px 3px;
	width:4px;
	text-align:end;
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(20px 28px 27px 24px)}
.menu-right:-moz-locale-dir(rtl){
	-moz-transform:scaleX(-1)}
menuitem:hover:active>.menu-right,
menu[open="true"]>.menu-right{
	filter:invert(1)}
.menu-right[disabled="true"]{
	opacity:.4}

menuseparator{
	border-top:1px solid threedshadow;
	border-bottom:1px solid threedhighlight;
	margin:0}

.menu-iconic-icon{
	width:16px;
	height:16px}

menulist>menupopup>menuitem>.menu-accel-container,
menulist>menupopup>menucaption:not([image])>.menu-iconic-left:not([image]),
menulist>menupopup>menuitem:not([image])>.menu-iconic-left:not([image]),
menulist>menupopup>menu:not([image])>.menu-iconic-left:not([image]){
	display:none}

menulist>menupopup>menucaption,
menulist>menupopup>menuitem,
menulist>menupopup>menu{
	border-width:0!important;
	padding:1px;
	min-width:3em;
	max-width:none}
menulist>menupopup>menucaption,
menulist>menupopup>menuitem{
	padding-inline-end:16px}

menuitem[checked="true"]>.menu-iconic-left>.menu-iconic-icon{
	list-style-image:url(chrome://global/skin/widgets.png)!important;
	-moz-image-region:rect(12px 31px 20px 24px)!important;
	width:auto!important;
	height:auto!important}
menuitem[type="radio"]>.menu-iconic-left>.menu-iconic-icon{
	list-style-image:url(chrome://global/skin/widgets.png)!important;
	-moz-image-region:rect(12px 24px 24px 12px)!important;
	width:auto!important;
	height:auto!important}
menuitem[type="radio"][checked="true"]>.menu-iconic-left>.menu-iconic-icon{
	-moz-image-region:rect(12px 12px 24px 0)!important}
