@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

notification{
	text-shadow:none;
	border:1px outset threedface;
	background-color:infobackground;
	color:InfoText}
notification[type="info"]{
	background-color:-moz-dialog;
	color:-moz-dialogtext}
notification[type="critical"]{
	background-color:red;
	color:white}
.notification-inner{
	-moz-box-align:center}

.messageImage{
	margin-inline-start:3px;
	list-style-image:url(chrome://global/skin/icons/warning-16.png)!important}
.messageText{
	margin-inline-start:3px;
	font-weight:bold}
.notification-button,
.messageButton{
	margin:1px 2px;
	padding:0 2px}

.popup-notification-closeitem,
.messageCloseButton{
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(177px 31px 191px 17px)!important}
.popup-notification-closeitem:hover,
.messageCloseButton:hover{
	-moz-image-region:rect(225px 31px 239px 17px)!important}
.popup-notification-closeitem:hover:active,
.messageCloseButton:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)!important}
.messageCloseButton>.toolbarbutton-text{display:none}

notification[type="info"] .messageImage{list-style-image:url(chrome://global/skin/icons/information-16.png)!important}
notification[type="warning"] .messageImage{list-style-image:url(chrome://global/skin/icons/warning-16.png)!important}
notification[type="critical"] .messageImage{list-style-image:url(chrome://global/skin/icons/error-16.png)!important}

.popup-notification-body,
.popup-notification-description{max-width:24em}

#sync-notifications>notification{
	border:1px inset threedface}

#KeeFox_Menu-Button{list-style-image:url(chrome://keefox/skin/KeeFox16.png)!important}
#KeeFox_Logins-Button{list-style-image:url(chrome://keefox/skin/KeeLockGrey24.png)!important}
toolbarbutton#KeeFox_Main-Button{list-style-image:url(chrome://keefox/skin/KeeGrey.png)!important}
toolbarbutton.highlight,toolbarbutton.login-found{list-style-image:url(chrome://keefox/skin/KeeOrange.png)!important}

image.keeFoxNotificationImage[src]{margin:0!important}
description.keefoxMessageText[value]{margin:3px!important}

.keeFoxNotificationButtons toolbarbutton.menuitem-iconic[label]{
	-moz-appearance:none!important;
	height:auto!important;
	min-height:1px!important;
	color:inherit!important}

.popup-notification-learnmore-link{
	margin-top:4px}
.popup-notification-originHost {
	margin-bottom:4px!important}
.popup-notification-originHost:not([value]),
.popup-notification-learnmore-link:not([href]){
	display:none}

.messageText>.text-link{
	color:inherit!important;
	text-decoration:underline}
