@import url(chrome://global/skin/htmlbutton.css);

html,body{height:100%}

body{
	margin:0;
	font:message-box;
	color:-moz-DialogText}

#connection-footer{
	display:flex;
	flex-direction:column;
	height:60px}

#banners-and-logs{
	display:flex}

.banner{
	display:none;
	width:60%;
	margin:4px}

.banner-box{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	width:100%;
	padding:0 4px;
	position:relative}

#connection-footer[status="connected"] #banner-connected,
#connection-footer[status="connecting"]	#banner-connecting,
#connection-footer[status="disconnected"] #banner-disconnected,
#connection-footer[status="disconnecting"] #banner-disconnecting{
	display:flex}

.show-simulators .banner,
.edit-connection .banner{
	display:none!important}

.show-simulators #banner-simulators,
.edit-connection #banner-editing{
	display:flex!important}

#banner-logs{
	width:40%;
	height:60px;
	display:flex}

#logs{
	align-items:stretch;
	padding:0}

#logs>pre{
	align-items:stretch;
	overflow:auto;
	white-space:pre-line;
	height:100%;
	position:relative;
	margin:0;
	border:1px inset threedface;
	font-size:90%;
	font-family:Menlo,Consolas,Lucida Console,monospace;
	line-height:1em;
	padding:0 2px;
	background:-moz-field;
	color:-moz-fieldtext}

#start-simulator-box{
	display:inline}

button.left{
	margin-right:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0}

button.right{
	margin-left:-6px;
	border-top-left-radius:0;
	border-bottom-left-radius:0}

button.action-primary{
	background:linear-gradient(to bottom,#276DA3,#1E5580);
	color:#EEE}

button.action-cancel{
	background:linear-gradient(to bottom,#B32B02,#942300);
	color:#EEE}

#logs>pre span{
	position:fixed;
	right:calc(30% - 15px);
	bottom:-1px}

#logs>pre b{
	color:#70C4FF}

.connected-status{
	color:#B3BFC9;
	text-shadow:0 1px 2px rgba(0,0,0,.9);
	padding-bottom:10px}

.connected-status{
	font-size:150%;
	top:10%;
	padding-right:3px;
	position:relative}

.connected-indicator{
	flex:0 0 10px;
	margin:2px;
	box-shadow:1px 1px 1px threeddarkshadow inset,-1px -1px 1px threedhighlight inset;
	border-radius:5px;
	background:linear-gradient(to bottom,#375A87,#1C4375)}
:-moz-any(#banner-connected,#banner-connecting)>.connected-indicator{
	background:linear-gradient(to bottom,#69B8FF,#339FFF)}

#banner-simulators .banner-content>*{
	display:inline-block}

#banner-simulators[simulator-count="0"] .found-simulator,
#banner-simulators:not([simulator-count="0"]) .no-simulator,
#connection-no-device,
[device-count="0"]>#connection-found-device,
#connection-manual,
#connection-assisted{
	display:none}

#connection-found-device,
[device-count="0"]>#connection-no-device,
[adb-available="true"]>#connection-assisted,
[adb-available="false"]>#connection-manual{
	display:inline}