#app-manager-window{
	font:message-box;
	background-image:url(chrome://global/skin/gecko.png),-moz-linear-gradient(-moz-Dialog,graytext 200%);
	background-repeat:no-repeat,repeat;
	background-position:right 90%,left top;
	background-attachment:fixed,fixed;
	color:-moz-DialogText}

#connection-footer{
	height:60px;
	min-height:60px}

#toolbox-tabs{overflow-y:auto}

.button{
	width:60px;
	height:90px;
	-moz-box-align:end;
	text-align:center;
	margin:4px;
	border-radius:9px;
	-moz-outline-radius:11px;
	text-shadow:0 1px rgba(250,250,250,.4);
	image-rendering:optimizeQuality;
	border:1px solid transparent;
	background-color:transparent;
	background-repeat:no-repeat,repeat;
	background-position:center 4px,top left;
	background-size:64px,0}
.button:not([disabled="true"]):not([selected="true"]):hover{
	box-shadow:0 0 2px threeddarkshadow;
	border:1px outset threedface;
	background-color:#CCCCFF;
	background-size:64px,cover;
	color:black}
.button:not([disabled="true"]):not([selected="true"]):hover:active{
	box-shadow:none;
	border-style:inset;
	background-color:highlight;
	color:highlighttext}
.button[selected="true"]{
	border:1px inset threedface!important;
	box-shadow:inset 1px 1px 1px threedshadow;
	background-color:rgba(255,255,255,.5)!important;
	color:-moz-DialogText!important}

.button.toolbox{
	height:60px;
	background-repeat:no-repeat;
	background-position:center 4px;
	background-size:32px 32px!important}

.panel:not([selected="true"]){display:none}

.projects-button{background-image:url(chrome://global/skin/icons/webapps-64.png),url(chrome://global/skin/toolbar-bg.png)}
.device-button{background-image:url(chrome://browser/skin/devtools/app-manager/device2.png),url(chrome://global/skin/toolbar-bg.png)}

.help-button{
	height:50px;
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),32,16,48,0),url(chrome://global/skin/toolbar-bg.png)!important;
	background-repeat:no-repeat,repeat;
	background-position:center 8px,top left;
	background-size:16px,0}
.help-button:not([disabled="true"]):not([selected="true"]):hover{
	background-size:16px,cover}
