/* This file is parsed by theme.js, so must have space following : and must be # or rgb/rgba format */
:root.theme-light {
	--theme-sidebar-background: -moz-dialog;
	--theme-contrast-background: #e6b064;

	--theme-tab-toolbar-background: -moz-dialog;
	--theme-toolbar-background: -moz-dialog;
	--theme-selection-background: highlight;
	--theme-selection-background-semitransparent: #CCCCFF;
	--theme-selection-color: highlighttext;
	--theme-splitter-color: graytext;
	--theme-comment: graytext;

	--theme-body-background: -moz-dialog;
	--theme-body-color: #000000;
	--theme-body-color-alt: #585959;
	--theme-body-color-inactive: #999797;
	--theme-content-color1: #292e33;
	--theme-content-color2: #8fa1b2;
	--theme-content-color3: #667380;

	--theme-highlight-green: #2cbb0f;
	--theme-highlight-blue: #0088cc;
	--theme-highlight-bluegrey: #0072ab;
	--theme-highlight-purple: #5b5fff;
	--theme-highlight-lightorange: #d97e00;
	--theme-highlight-orange: #f13c00;
	--theme-highlight-red: #ed2655;
	--theme-highlight-pink: #b82ee5;
	--theme-highlight-gray: #dde1e4;

        --theme-focus-outline-color: #000000;

   	--theme-graphs-green: #85d175;
	--theme-graphs-blue: #83b7f6;
	--theme-graphs-bluegrey: #0072ab;
	--theme-graphs-purple: #b693eb;
	--theme-graphs-yellow: #efc052;
	--theme-graphs-orange: #d97e00;
	--theme-graphs-red: #e57180;
	--theme-graphs-grey: #cccccc;
	--theme-graphs-full-red: #f00;
	--theme-graphs-full-blue: #00f;

	--rule-highlight-background-color: #ffee99;
}

:root.theme-dark {
	--theme-sidebar-background: #393f4c;
	--theme-contrast-background: #ffb35b;

	--theme-tab-toolbar-background: #272b35;
	--theme-toolbar-background: #272b35;
	--theme-selection-background: #5675B9;
	--theme-selection-background-semitransparent: rgba(86, 117, 185, 0.5);
	--theme-selection-color: -moz-dialogtext;
	--theme-splitter-color: #454d5d;
	--theme-comment: #757873;

	--theme-body-background: #393f4c;
	--theme-body-color: #8fa1b2;
	--theme-body-color-alt: #b6babf;
        --theme-body-color-inactive: #8fa1b2;
	--theme-content-color1: #a9bacb;
	--theme-content-color2: #8fa1b2;
	--theme-content-color3: #5f7387;

	--theme-highlight-green: #00ff7f;
	--theme-highlight-blue: #46afe3;
	--theme-highlight-bluegrey: #5e88b0;
	--theme-highlight-purple: #bcb8db;
	--theme-highlight-lightorange: #d99b28;
	--theme-highlight-orange: #d96629;
	--theme-highlight-red: #eb5368;
	--theme-highlight-pink: #df80ff;
	--theme-highlight-gray: #e9f4fe;

        --theme-focus-outline-color: #ced3d9;

	--theme-graphs-green: #70bf53;
	--theme-graphs-blue: #46afe3;
	--theme-graphs-bluegrey: #5e88b0;
	--theme-graphs-purple: #df80ff;
	--theme-graphs-yellow: #d99b28;
	--theme-graphs-orange: #d96629;
	--theme-graphs-red: #eb5368;
	--theme-graphs-grey: #757873;
	--theme-graphs-full-red: #f00;
	--theme-graphs-full-blue: #00f;

	--rule-highlight-background-color: #594724;
}

:root.theme-firebug {
	--theme-sidebar-background: #fcfcfc;
	--theme-contrast-background: #e6b064;

	--theme-tab-toolbar-background: #d8eaf9;
	--theme-toolbar-background: #f0f1f2;
	--theme-selection-background: #3399ff;
	--theme-selection-background-semitransparent: rgba(128,128,128,0.2);
	--theme-selection-color: -moz-dialogtext;
	--theme-splitter-color: #aabccf;
	--theme-comment: green;

	--theme-body-background: #fcfcfc;
	--theme-body-color: #000000;
	--theme-body-color-alt: #585959;
	--theme-content-color1: #292e33;
	--theme-content-color2: #8fa1b2;
	--theme-content-color3: #667380;

	--theme-highlight-green: #2cbb0f;
	--theme-highlight-blue: #3455db;
	--theme-highlight-bluegrey: #0072ab;
	--theme-highlight-purple: #887ce6;
	--theme-highlight-lightorange: #d97e00;
	--theme-highlight-orange: #f13c00;
	--theme-highlight-red: #e22f6f;
	--theme-highlight-pink: #b82ee5;
	--theme-highlight-gray: #dde1e4;

	--theme-focus-outline-color: #ced3d9;

	--theme-graphs-green: #85d175;
	--theme-graphs-blue: #83b7f6;
	--theme-graphs-bluegrey: #0072ab;
	--theme-graphs-purple: #b693eb;
	--theme-graphs-yellow: #efc052;
	--theme-graphs-orange: #d97e00;
	--theme-graphs-red: #e57180;
	--theme-graphs-grey: #cccccc;
	--theme-graphs-full-red: #f00;
	--theme-graphs-full-blue: #00f;

	--rule-highlight-background-color: #594724;
}