@import url(chrome://global/skin/htmlbutton.css);

.devtools-main-content{min-width:50px;position:relative;overflow:hidden}
.devtools-tabbar toolbarbutton{margin-top:0}

.toolbox-tabs,
.devtools-tabbar,
.devtools-sidebar-tabs{
	border-width:0}
.toolbox-tabs,
.devtools-tabbar,
.devtools-sidebar-tabs tabs{
	font-size:90%;
	font-weight:600;
	font-variant:small-caps}
	
.devtools-sidebar-tabs{position:relative;background:none}
.devtools-sidebar-tabs tabs{overflow:hidden;position:static;background:none!important}
.devtools-sidebar-tabs tabs>.tabs-right,
.devtools-sidebar-tabs tabs>.tabs-left{display:none}
.devtools-sidebar-tabs tabs>tab{
	position:static;
	border-radius:5px;
	margin:2px 1px;
	padding:1px;
	border-bottom-color:graytext}
.devtools-sidebar-tabs tabs>tab:not(:hover){
	border-color:transparent;
	background:none;
	box-shadow:none}

body>div#eyedropper-button{
	position:relative;
	filter:none!important;
	width:18px!important;
	height:18px!important;
	border-radius:5px;
	border:1px solid transparent!important}
#eyedropper-button::after{
	position:absolute;
	top:1px;
	left:1px;
	content:"";
	display:-moz-box;
	width:16px;
	height:16px;
	background:-moz-image-rect(url(chrome://browser/skin/devtools/debugger.png),16,220,32,204) center no-repeat}
	
.project-options,
.requests-menu-footer-button,
#requests-menu-network-summary-label,
.animation-target>.node-selector,
.devtools-tab,
.toolbox-tab{
	cursor:pointer;
	margin:0 1px 1px 1px;
	padding:1px;
	border-radius:5px;
	border:1px solid transparent}
.requests-menu-footer-button:not([selected="true"]):not(:hover),
.toolbox-tab:not([selected="true"]):not(:hover){
	background:none}
.project-options:hover,
#eyedropper-button:hover,
.animation-target>.node-selector:hover,
#requests-menu-network-summary-label:hover,
.requests-menu-footer-button:hover:not([selected="true"]),
.devtools-tab:hover:not([selected="true"]),
.toolbox-tab:hover:not([selected="true"]),
.devtools-sidebar-tabs tabs>tab:hover:not([selected="true"]){
	border-color:threedhighlight graytext graytext threedhighlight!important;
	background:#CCCCFF url(chrome://global/skin/menu-bg.png)!important;
	color:black!important}
.project-options:hover:active,
#eyedropper-button:hover:active,
.animation-target>.node-selector:hover:active,
#requests-menu-network-summary-label:hover:active,
.requests-menu-footer-button:hover:active:not([selected="true"]),
.devtools-tab:hover:active:not([selected="true"]),
.toolbox-tab:hover:active:not([selected="true"]),
.devtools-sidebar-tabs tabs>tab:hover:active:not([selected="true"]){
	box-shadow:1px 1px 1px graytext inset!important;
	border-color:graytext threedhighlight threedhighlight graytext!important;
	background-color:highlight!important;
	color:highlighttext!important}
.project-options:hover,
#eyedropper-button:hover,
#requests-menu-network-summary-label:hover,
.animation-target>.node-selector:hover,
.requests-menu-footer-button:hover:not([disabled="true"]):not(:focus):not(:active):not([selected="true"]),
.devtools-tab:hover:not([disabled="true"]):not(:active):not([selected="true"]),
.toolbox-tab:hover:not([disabled="true"]):not(:focus):not(:active):not([selected="true"]),
.devtools-sidebar-tabs tabs>tab:hover:not([selected="true"]){
	box-shadow:.5px .5px 2.5px -.5px graytext!important}
#eyedropper-button[checked="true"],
.requests-menu-footer-button[checked="true"],
.devtools-tab[selected="true"],
.toolbox-tab[selected="true"],
.devtools-sidebar-tabs tabs>tab[selected="true"]{
	box-shadow:inset 1px 1px 1px threedshadow!important;
	border-color:graytext threedhighlight threedhighlight graytext!important;
	background-color:rgba(255,255,255,.5)!important}

.toolbox-tab>image,
.toolbox-tab>.radio-label-box>.radio-icon{
	margin:1px;
	max-height:16px}

@media (max-width:1000px){
.devtools-tab,
.toolbox-tab{max-width:20px;-moz-box-pack:center}
}

#toolbox-controls-separator,
#toolbox-buttons{
	-moz-box-flex:10000}

#toolbox-dock-window{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(96px 32px 112px 16px)}
#toolbox-dock-side{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,192px,16px,176px)}
#toolbox-dock-bottom{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,208px,16px,192px)}

.devtools-theme-background{
	margin:0}

#command-button-splitconsole{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,272px,16px,256px)}
#command-button-paintflashing{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(432px,16px,448px,0)}
#appmenu_scratchpad,
#command-button-scratchpad{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,144px,16px,128px)}
#command-button-tilt{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,160px,16px,144px)}
#appmenu_responsiveUI,
#command-button-responsive{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,176px,16px,160px)}
#command-button-screenshot{
	list-style-image:url(chrome://browser/skin/icons.png);
	-moz-image-region:rect(0,160px,16px,144px)}
#command-button-frames{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,304px,16px,288px)}
#command-button-eyedropper{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(16px,220px,32px,204px)}

#inspector-sidebar,
:-moz-any(#inspector-sidebar,.generic-toggled-side-pane)>tabpanels{
	border-width:0;
	padding:0}

.devtools-autocomplete-popup{max-height:40rem;overflow-x:hidden}
.devtools-no-search-result{color:red}
#dbg-toolbar{background-position:-4px -4px}

#waterfall-breakdown,#waterfall-details,#jit-optimizations-view,#js-calltree-view,#js-flamegraph-view,#memory-calltree-view,#memory-flamegraph-view,
#response-content-textarea,#response-content-image-box,#response-content-json,#timings-tabpanel,#overview-pane,
#shaders-pane,#fs-editor,#vs-editor,.stylesheet-editor-input,#requests-menu-contents,#web-audio-graph,.csscoverage-report-container,
.ruleview,#profiles-list,#profiler-report,#editor,#markup-box>iframe,#calls-list,#screenshot-container,#recordings-list,
#propertyContainer,.variables-view-container,#event-listeners,#network-statistics-charts,#snapshot-filmstrip,#storage-table,#storage-tree,
vbox>#stackframes,#breakpoints,#expressions,#sources,#tracer-traces,#shells,#players{
	border:2px solid;
	-moz-border-top-colors:threedshadow threeddarkshadow;
	-moz-border-left-colors:threedshadow threeddarkshadow;
	-moz-border-right-colors:threedhighlight threedshadow;
	-moz-border-bottom-colors:threedhighlight threedshadow;
	background:-moz-field;
	color:-moz-fieldtext}

tabpanel>#sources,
#tracer-traces{border-width:2px 0}
#callstack-list{
	border-top:2px solid;
	-moz-border-top-colors:threedshadow threeddarkshadow;
	background:-moz-field;
	color:-moz-fieldtext}

.tree-widget-empty-text,
.side-menu-widget-empty-text,
.fast-list-widget-empty-text{
	font-weight:600;
	padding:4px;
	color:GrayText}

#tracer-traces>scrollbox,
.fast-list-widget-container,
.side-menu-widget-container,
.variables-view-container:not([empty]){
	transform:translateZ(0)}

#sources-pane,#instruments-pane,#network-statistics-charts,#recordings-list,#storage-table,#storage-tree,
#screenshot-container,#web-audio-graph,#web-audio-editor-tabs,#snapshot-filmstrip,
hbox>#editor,#globalsearch-splitter,#variables,#breakpoints,#profiler-report,#event-listeners,.stylesheet-editor-input{
	padding:0;
	border-bottom-width:0}

@media (-moz-windows-compositor){
#shells,.stylesheet-editor-input,#expressions,#variables,#profiler-report,#event-listeners,#snapshot-filmstrip,#players{
	-moz-border-end-width:0}
}
:-moz-any(#variables-tabpanel,#events-tabpanel)>vbox{-moz-border-start-width:0!important}
window>#variables{border-top-width:0}

.manifest-editor,
#stackframes+.devtools-horizontal-splitter,
#expressions+.devtools-horizontal-splitter{
	border-width:0!important}

.title{
	padding:0 2px;
  	color:threeddarkshadow}

.list-item.empty{
	padding:0 2px;
  	color:graytext;
	font-style:italic}

.side-menu-widget-group-title,
.variables-view-scope>.title,
.scope>.title{
	text-align:center;
	padding:0;
	border-top:1px solid threedhighlight;
	border-bottom:1px solid threedshadow;
	background:-moz-dialog url(chrome://global/skin/menu-bg.png);
	color:-moz-dialogtext}

.title>.name{font-weight:600}

:not([non-header])>.details,
.variable-or-property:not([non-header]):not([untitled])>.variables-view-element-details{
	-moz-margin-start:16px}

.variable{border-bottom:1px solid threedface}

.variable-or-property:not([overridden]){
	transition:background 1s ease-in-out}
.variable-or-property:not([overridden])[changed] {
	transition-duration:.4s;
	background:#a18650}
.variable-or-property>.title>.value{
	-moz-box-flex:1}
.variable-or-property[overridden]{
	background:rgba(128,128,128,.05)}
.variable-or-property[overridden] .title>label{
	font-style:italic;
	text-decoration:line-through;
	border-bottom:none!important;
	color:rgba(128,128,128,.9);
	opacity:.7}
.variable-or-property[editable]>.title>.value{cursor:text}
.variable-or-property[overridden] .title>.value{pointer-events:none}

.variable:not(:focus)>.title>.name{color:#0088cc}/*blue*/
.property:not(:focus)>.title>.name{color:#5b5fff}/*purple*/
.title>.value{-moz-padding-start:6px}

[proto]>.title>.name,
[non-enumerable]:not([self]):not([exception]):not([return]):not([scope]):not([pseudo-item])>.title>.name{
	opacity:.6}

.variable-or-property[safe-getter]:not([pseudo-item])>.title>.name{border-bottom:1px dashed #8b0}
.variable-or-property[non-configurable]:not([pseudo-item])>.title>.name{border-bottom:1px dashed #99f}
.variable-or-property[non-writable]:not([pseudo-item])>.title>.name{border-bottom:1px dashed #f99}

.variable-or-property[exception]:not(:focus)>.title>.name{color:#ed2655;text-shadow:0 0 8px #fcc}
.variable-or-property[return]:not(:focus)>.title>.name{color:#2cbb0f;text-shadow:0 0 8px #cfc}
.variable-or-property[scope]:not(:focus)>.title>.name{color:#0088cc;text-shadow:0 0 8px #ccf}

.variable-or-property-non-writable-icon{
	background:-moz-image-rect(url(chrome://global/skin/widgets.png),80,50,96,35) center no-repeat;
	width:16px;
	height:16px;
	opacity:.5}

.variable-or-property:not([safe-getter])>tooltip>label[value=WebIDL],
.variable-or-property:not([safe-getter])>tooltip>label.WebIDL,
.variable-or-property:not([non-extensible])>tooltip>label[value=extensible],
.variable-or-property:not([overridden])>tooltip>label.overridden,
.variable-or-property:not([frozen])>tooltip>label[value=frozen],
.variable-or-property:not([non-extensible])>tooltip>label.extensible,
.variable-or-property:not([sealed])>tooltip>label[value=sealed],
.variable-or-property:not([frozen])>tooltip>label.frozen,
.variable-or-property:not([sealed])>tooltip>label.sealed{
	display:none}

.variable-or-property[overridden]>tooltip>label.overridden{
	-moz-margin-start:2px;
	-moz-padding-start:2px;
	-moz-border-end:2px dotted threeddarkshadow}
	
.variable-or-property[safe-getter]>tooltip>label[value=WebIDL],
.variable-or-property[safe-getter]>tooltip>label.WebIDL{
	-moz-margin-start:2px;
	-moz-padding-start:2px;
	-moz-border-start:2px groove threedface;
	color:#2cbb0f}

.variables-view-delete{
	min-width:16px;
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(272px 16px 288px 0)}
.variables-view-delete>.toolbarbutton-icon{width:12px;height:12px}

.variables-view-edit{
	background:-moz-image-rect(url(chrome://browser/skin/tabview/panorama.png),0,96,16,80) center no-repeat;
	width:16px;
	height:16px;
	cursor:pointer}

.variables-view-container[aligned-values] .title>.separator{-moz-box-flex:1}
.variables-view-container[aligned-values] .title>.value,
.variables-view-container[aligned-values] .title>.element-value-input{width:70vw}
.variables-view-container[actions-first] .variables-view-delete{-moz-box-ordinal-group:0}
.variables-view-container[aligned-values] [optional-visibility]{display:none}

.variable-or-property[non-enumerable]>tooltip>label.enumerable,
.variable-or-property[non-configurable]>tooltip>label.configurable,
.variable-or-property[non-writable]>tooltip>label.writable,
.variable-or-property[non-extensible]>tooltip>label.extensible,
.variable-or-property[non-enumerable]>tooltip>label[value="enumerable"],
.variable-or-property[non-configurable]>tooltip>label[value="configurable"],
.variable-or-property[non-writable]>tooltip>label[value="writable"]{
	text-decoration:line-through}

.key,
vbox:not(:focus)>.title>.token-other{color:graytext}

.arrow{
	width:16px;
	height:16px;
	border-radius:10000px;
	background-position:center!important;
	background-repeat:no-repeat!important;
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),32,36,40,28)!important}
.arrow[open]{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),40,36,48,28)!important}
.arrow[invisible]{
	visibility:hidden}
.dbg-event-listener,.name,.key,.value,.unselectable,.info{
	padding:0 2px}
.dbg-stackframe-name{
	font-weight:600;
	-moz-padding-end:4px}

#resume{
	list-style-image:url(chrome://global/skin/media/video.png);
	-moz-image-region:rect(0,16px,16px,0)}
#resume[checked="true"]{
	-moz-image-region:rect(0,32px,16px,16px)}
#step-over,
#step-in,
#step-out{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,16px,16px,0)}
#step-in{-moz-image-region:rect(0,32px,16px,16px)}
#step-out{-moz-image-region:rect(0,48px,16px,32px)}

#inspector-pane-toggle,
#instruments-pane-toggle,
#toggle-panes{
	margin:0;
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,126px,16px,110px)}
#inspector-pane-toggle[pane-collapsed],
#instruments-pane-toggle[toggled="true"],
#instruments-pane-toggle[pane-collapsed],
#toggle-panes[panesHidden],
#toggle-panes[stackframesAndBreakpointsHidden],
#toggle-panes[variablesHidden]{
	-moz-image-region:rect(0,110px,16px,94px)}

.generic-toggled-side-pane,
#instruments-pane{-moz-margin-start:0!important}
#scripts{max-width:350px}
#scripts-search{width:200px}
.dbg-breakpoint-line{padding:0 2px;color:graytext;min-width:2em;text-align:end}

.devtools-monospace,
.dbg-breakpoint-line,.dbg-breakpoint-text,
.dbg-results-line-contents,.dbg-results-line-number,
.line-contents,.line-number{
	font-family:Menlo,Consolas,Lucida Console,monospace}

.state>checkbox{margin:1px;padding:0}
.dbg-breakpoint-info,.script-url,.location{font-weight:600}

.match-count{
	-moz-padding-start:6px;
	opacity:.6}

.dbg-results-line-number{
	min-width:35px;
	-moz-padding-end:4px;
	-moz-border-end:1px solid threedshadow;
	text-align:end;
	background:-moz-dialog;
	color:-moz-dialogtext}

.dbg-results-line-contents,
.line-contents{
	-moz-padding-start:4px}

.dbg-results-line-contents-string,
.line-contents>.string{
	padding:1px}

.dbg-results-line-contents-string[match=true],
.line-contents>.string[match=true]{
	background:rgba(255,255,0,.5);
	border-radius:4px;
	cursor:pointer;
	transition:transform 250ms ease-in-out}
.dbg-results-line-contents-string[match=true][focused],
.line-contents>.string[match=true][focused]{
	transform:scale(2)}

#globalsearch{
	border-top:2px solid;
	-moz-border-top-colors:threedshadow threeddarkshadow}

.dbg-results-container{
	border-top:1px solid threedshadow;
	border-bottom:1px solid threedshadow}

.side-menu-widget-empty-notice-container{padding:10px}

.side-menu-widget-item{-moz-box-align:stretch}
.side-menu-widget-group-checkbox,
.side-menu-widget-item-checkbox,
.side-menu-widget-item-other>checkbox{margin:0;padding:0}
.side-menu-widget-group-title,.side-menu-widget-item-label{font-weight:600}

.dbg-breakpoint-checkbox>.checkbox-check{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(16px,152px,28px,140px);
	margin:0;
	padding:1px}
.dbg-breakpoint-checkbox>.checkbox-check:not([checked="true"]){
	opacity:.4;
	filter:url(chrome://global/skin/greyscale.svg#greyscale)}

.side-menu-widget-item-other:nth-child(even),
.side-menu-widget-item:nth-child(even){
	background-image:-moz-linear-gradient(rgba(160,160,160,.08),rgba(160,160,160,.08))}

:-moz-any(.results-panel-item,.name:not(.plain),.key,.arrow,.dbg-results-line-contents,.line-contents,.list-item,.side-menu-widget-item-other,.dbg-results-header,.side-menu-widget-item):hover{
	background:#CCCCFF url(chrome://global/skin/menu-bg.png);
	color:black}
:-moz-any(.results-panel-item.name:not(.plain),.key,.arrow,.dbg-results-line-contents,.line-contents,.list-item,.side-menu-widget-item-other,.dbg-results-header):hover:active,
:focus>.title,
.side-menu-widget-item:hover{background-image:none!important}

.variable-or-property[unmatched],
.variable-or-property[non-match],
.variable[non-match],
.property[non-match]{
	border-width:0;
	margin:0}

vbox>#stackframes,#breakpoints,
#expressions,#variables{
	overflow-x:auto;
	min-height:32px}

#expressions{max-height:125px}

button.operator{
	min-width:22px;
	-moz-margin-end:4px;
	padding:0;
	border-radius:5px;
	font-weight:bold;
	font-size:120%}	

#variables>.devtools-toolbar{
	background:-moz-dialog;
	border-bottom:1px solid threedshadow}

.element-name-input{
	color:#0088cc;
	font-weight:600;
	-moz-margin-start:-2px!important}

.element-value-input{
	-moz-margin-start:-2px!important}

#conditional-breakpoint-panel .description{margin:-6px 0 8px 0}
#conditional-breakpoint-panel textbox{margin:0 0 -2px 0}

#chrome-globals,#sources{width:200px}
#globalsearch>vbox:not(:empty){
	border-radius:4px;
	min-height:10px;
	max-height:150px}

:-moz-any(.results-panel-item,.dbg-source-item):not(:first-of-type){border-top:1px solid threedhighlight}
:-moz-any(.results-panel-item,.dbg-source-item):not(:last-of-type){border-bottom:1px solid threedshadow}

.results-panel-item-pre{
	-moz-margin-end:5px;
	opacity:.7}

.results-panel-item-name,
.dbg-source-item-name{
	opacity:.7;
	font-weight:600}

.dbg-variable-edit{
	background-image:-moz-image-rect(url(chrome://browser/skin/tabview/panorama.png),0,96,16,80);
	background-repeat:no-repeat;
	width:20px;
	height:16px;
	cursor:pointer}

.variables-view-throbber,
.dbg-variable-throbber{
	background:url(chrome://global/skin/icons/loading_16.png) center no-repeat;
	width:16px;
	height:16px}
	
.title>.devtools-closebutton{
	opacity:0}
.title>.devtools-closebutton:hover,
vbox:hover>.title>.devtools-closebutton{
	opacity:1;
	transition:opacity 200ms ease-in-out}

vbox[editable]>.title>.value{
	cursor:text}

.element-value-input,
.element-name-input{
	max-width:30em;
	box-shadow:0 0 1px graytext,1px 1px 3px threedshadow}

#sources>.side-menu-widget-container .side-menu-widget-item-or-group{
	border-bottom:1px solid threedshadow}

#resumption-panel-desc{width:200px}
#resumption-order-panel{-moz-margin-start:-8px}

@-moz-document url(chrome://browser/content/devtools/connect.xhtml){
html:root{
	margin:0;
	font:message-box;
	background-image:url(chrome://global/skin/gecko.png),-moz-linear-gradient(-moz-Dialog,graytext 200%);
	background-repeat:no-repeat,repeat;
	background-position:right 90%,left top;
	background-attachment:fixed,fixed;
	color:-moz-DialogText}
:root>body{
	font:inherit;
	width:614px;
	max-width:614px;
	margin:4em auto;
	padding:24px;
	text-align:start;
	border-radius:18px;
	border:2px solid;
	-moz-border-top-colors:threedshadow threedhighlight;
	-moz-border-left-colors:threedshadow threedhighlight;
	-moz-border-right-colors:threeddarkshadow threedshadow;
	-moz-border-bottom-colors:threeddarkshadow threedshadow;
	box-shadow:2px 2px 7px ThreedDarkShadow;
	background-color:-moz-Dialog;
	color:-moz-DialogText}
:root>body>h1{
	padding:0 30px;
	margin-top:0!important;
	border-bottom-width:0;
	text-shadow:1px 1px 4px threedshadow;
	background:url(chrome://global/skin/icons/information-24.png) no-repeat left center}
:root>body>section{
	min-height:1px;
	margin:4px 0}
:root>body>footer{border-width:0;padding:0;background:none}
#connection-form{display:block;margin-top:10px}
#connection-form>form>label{display:inline-block;margin:0}
#connection-form>form>label>span{margin:0;min-width:1px;-moz-margin-end:4px}
#connection-form>form>label>#submit{display:inline-block;margin:0!important}
.devtools-textinput{-moz-appearance:none;border:1px inset threedface;border-radius:3px}
input:invalid{box-shadow:0 0 2px 2px red!important}
.error-message{font-weight:bold;color:darkred!important}
}

.dbg-variable-throbber,
#connecting{
	text-align:start;
	min-height:16px;
	-moz-padding-start:18px;
	background:url(chrome://global/skin/icons/loading_16.png) left center no-repeat}
#connecting>p{display:none}

.actors>a,
footer>a,
footer>a:visited{
	border-radius:3px;
	-moz-outline-radius:3px;
	padding:0 1px;
	margin:0 1px;
	color:-moz-nativehyperlinktext!important}
.actors>a:hover,
footer>a:hover,
footer>a:visited:hover{
	background:#CCCCFF url(chrome://global/skin/menu-bg.png)!important;
	color:black!important}
.actors>a:hover:active,
footer>a:hover:active,
footer>a:visited:hover:active{
	background-color:highlight!important;
	color:highlighttext!important}

.variables-view-searchinput{margin:0}

.theme-link:visited,
.cm-s-mozilla .cm-link:visited,
.CodeMirror-Tern-type{
	color:#3689b2}

.CodeMirror-Tern-completion-unknown:before{background-color:#5c6773}
.CodeMirror-Tern-completion-number:before{background-color:#5c9966}
.CodeMirror-Tern-completion-object:before{background-color:#3689b2}
.CodeMirror-Tern-completion-array:before{background-color:#a673bf}
.CodeMirror-Tern-completion-string:before,
.CodeMirror-Tern-completion-fn:before{background-color:#b26b47}
.CodeMirror-Tern-completion-bool:before{background-color:#bf5656}
.CodeMirror-Tern-fname{color:-moz-dialog}
.CodeMirror-hints,
.CodeMirror-Tern-tooltip {
	box-shadow:0 0 4px threedshadow;
	background-color:-moz-dialog;
	color:-moz-dialogtext}

.comment,
.theme-comment,
.cm-s-mozilla .cm-meta,
.cm-s-mozilla .cm-hr,
.cm-s-mozilla .cm-comment,
.variable-or-property .token-undefined,
.variable-or-property .token-null,
.CodeMirror-Tern-completion-unknown:before{
	color:graytext;
	font-style:italic}

.theme-fg-color1,
.cm-s-mozilla .cm-number,
.variable-or-property .token-number,
.variable-or-property[return]>.title>.name,
.variable-or-property[scope]>.title>.name{
	color:#2cbb0f}/*green*/

.theme-fg-color2,
.cm-s-mozilla .cm-attribute,
.cm-s-mozilla .cm-builtin,
.cm-s-mozilla .cm-def,
.cm-s-mozilla .cm-property,
.cm-s-mozilla .cm-qualifier,
.variables-view-variable>.title>.name{
	color:#0088cc}/*blue*/

.theme-fg-color3,
.cm-s-mozilla .cm-variable,
.cm-s-mozilla .cm-tag,
.cm-s-mozilla .cm-header,
.cm-s-mozilla .cm-bracket,
.variables-view-property>.title>.name{
	color:#5b5fff}/*purple*/

.theme-fg-color4,
.theme-fg-color6,
.cm-s-mozilla .cm-string,
.cm-s-mozilla .cm-string-2,
.variable-or-property .token-string,
.CodeMirror-Tern-farg{
	color:#f13c00}/*orange*/

.theme-fg-color5,
.cm-s-mozilla .cm-bracket,
.cm-s-mozilla .cm-keyword{
	color:#d97e00}/*light orange*/

.theme-fg-color7,
.cm-s-mozilla .CodeMirror-nonmatchingbracket,
.cm-s-mozilla .cm-atom,
.cm-s-mozilla .cm-quote,
.cm-s-mozilla .cm-error,
.variable-or-property .token-boolean,
.variable-or-property .token-domnode{
	color:#ed2655}/*red*/

.variable-or-property .token-domnode{font-weight:bold}

.cm-s-mozilla .cm-unused-line{text-decoration:line-through;text-decoration-color:red}
.cm-s-mozilla .cm-executed-line{background-color:#fcfffc}

::-moz-selection,
.theme-selected,
.CodeMirror-hint-active{
	background-color:highlight;
	color:highlighttext}
.theme-fg-contrast{color:-moz-dialogtext}
.theme-bg-contrast{background:#a18650}
.theme-bg-darker{background-color:threedshadow}

.cm-s-mozilla .CodeMirror-matchingbracket{
	box-shadow:0 0 0 1px threedshadow;
	color:-moz-fieldtext}
div.error-line{
	background:rgba(255,0,0,.2)}
div.debug-line{
	background:rgba(0,128,255,.1);
	box-shadow:0 1px 0 0 rgba(0,128,255,.4),0 -1px 0 0 rgba(0,128,255,.4)}
span.marked-text{
	background:rgba(255,255,0,.2);
	border:1px dashed rgba(192,192,0,.6);
	-moz-margin-start:-1px;
	-moz-margin-end:-1px}
span.eval-text{
	background-color:#ccd}	

.ruleview,
#propertyContainer{
	font:message-box;
	border-collapse:collapse;
	border-bottom-width:0;
	border-spacing:0;
	margin:0;
	padding:0}

#noResults{
	margin-top:5px;
	text-align:center;
	font-weight:600}

.cm-s-markup-view pre{
	line-height:1.4em;
	min-height:1.4em}

.theme-link,
.theme-link:visited,
.cm-link,
.cm-link:visited,
.CodeMirror-Tern-type,
.link,
.link:visited,
.helplink,
.helplink:visited{
	border-radius:3px;
	padding:0 1px;
	border:1px solid transparent;
	cursor:pointer;
	text-decoration:none;
	color:-moz-nativehyperlinktext}

.helplink{
	width:0;
	height:16px;
	-moz-padding-start:16px;
	border:1px solid transparent;
	overflow:hidden;
	background:url(chrome://global/skin/icons/information-16.png) no-repeat center}
.property-view:not(:hover)>.helplink-container{
	visibility:hidden}

.ruleview-expander,
.expander{
	display:inline-block;
	vertical-align:middle;
	width:14px;
	height:14px;
	border:1px solid transparent;
	background:-moz-image-rect(url(chrome://global/skin/widgets.png),32,36,40,28) center no-repeat}
.expander{-moz-margin-start:-16px}
.ruleview-expander[open="true"],
.ruleview-expander.styleinspector-open,
.ruleview-expander.user-open,
.expander[open]{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),40,36,48,28)}

:-moz-any(.link,.expander,.helplink,.ruleview-expander,.expander,.theme-link):hover{
	border:1px outset threedface;
	background-color:#CCCCFF;
	color:black}
:-moz-any(.link,.expander,.helplink,.ruleview-expander,.expander,.theme-link):hover:active{
	border-style:inset;
	background-color:highlight;
	color:highlighttext}

.legendKey{
	-moz-box-flex:1;
	text-align:center}

.matched,
.ruleview-overridden{
	text-decoration:line-through}
.dbg-source-item-details,
.parentmatch{opacity:.7}
.unmatched{color:darkred}

.devtools-theme-background,
.dbg-results-container,
.dbg-breakpoint{
	background-color:-moz-field;
	color:-moz-fieldtext}

:not([safe-getter])>tooltip>label[value=native-getter],
:not([non-extensible])>tooltip>label[value=non-extensible],
:not([frozen])>tooltip>label[value=frozen],
:not([sealed])>tooltip>label[value=sealed],
.variable-or-property[pseudo-item]>tooltip{
	display:none}

:not(:focus)>.variable-or-property-frozen-label,
:not(:focus)>.variable-or-property-sealed-label,
:not(:focus)>.variable-or-property-non-extensible-label,
.side-menu-widget-item-contents.black-boxed{
	color:graytext}

#pretty-print{list-style-image:url(debugger.png);-moz-image-region:rect(16px,201px,32px,185px)}
#black-box{list-style-image:url(debugger.png);-moz-image-region:rect(0,224px,16px,208px)}
#pretty-print>.toolbarbutton-icon{display:-moz-box}
#pretty-print>.toolbarbutton-text,
.side-menu-widget-item-contents.black-boxed>.dbg-breakpoint{display:none}

#sp-toolbar{border-width:0}

#black-boxed-message,
#source-progress-container{
	min-width:1px;
	min-height:1px;
	padding:10px 0}

#source-progress{
	min-height:16px;
	min-width:40em}

#black-boxed-message-label,
#black-boxed-message-button{
	text-align:center;
	font-size:120%}

#black-boxed-message-button{
	margin-top:1em}

.dbg-event-listener-type{font-weight:600}
.dbg-event-listener-separator{color:threedshadow}
.dbg-event-listener-targets{color:#0088cc}
.dbg-event-listener-location{color:graytext}

.ruleview-colorswatch,
.ruleview-bezierswatch,
.computedview-colorswatch{
	display:inline-block;
	position:relative;
	margin:0 2px;
	width:1em;
	height:1em;
	border:1px solid -moz-fieldtext}
.ruleview-colorswatch::before,
.computedview-colorswatch::before{
	content:'';
	background-color:threedface;
	background-image:
		linear-gradient(45deg,threedshadow 25%,transparent 25%,transparent 75%,threedshadow 75%,threedshadow),
		linear-gradient(45deg,threedshadow 25%,transparent 25%,transparent 75%,threedshadow 75%,threedshadow);
	background-size:12px 12px;
	background-position:0 0,6px 6px;
	position:absolute;
	width:1em;
	height:1em;
	z-index:-1}
.ruleview-bezierswatch{
	background:-moz-field -moz-image-rect(url(chrome://browser/skin/devtools/debugger.png),18,268,30,256) center no-repeat}

.ruleview-bezierswatch,
.ruleview-colorswatch{cursor:pointer}

.CodeMirror{
	font:message-box!important;
	font-family:Menlo,Consolas,Lucida Console,monospace!important;
	background:-moz-field!important;
	color:-moz-fieldtext!important}

.CodeMirror-lines{padding:0!important}
.CodeMirror pre{padding:0!important}

.CodeMirror pre,
.cm-s-mozilla .cm-variable-2,
.cm-s-mozilla .cm-variable-3,
.cm-s-mozilla .cm-operator,
.cm-s-mozilla .cm-special{
	color:-moz-fieldtext}

.cm-s-mozilla .CodeMirror-cursor{border-left:1px solid threedshadow}
.cm-s-mozilla .CodeMirror-selected{background-color:graytext}
.cm-s-mozilla .CodeMirror-focused .CodeMirror-selected{background-color:highlight}
.cm-s-mozilla .CodeMirror-activeline-background{background-color:#FFFFF0}

.cm-s-mozilla .CodeMirror-gutters{
	border-right:1px solid threedshadow!important;
	background-color:-moz-dialog!important;
	color:-moz-dialogtext!important}
.cm-s-mozilla .CodeMirror-linenumber{
	color:graytext!important}

.devtools-tooltip.devtools-tooltip-tooltip{
	padding:0;
	border-radius:5px}

.devtools-tooltip.devtools-tooltip-panel .panel-arrowcontent{
	padding:0}

.devtools-tooltip-tiles {
	background:-moz-Field url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEWgoKClpaUrSK7yAAAAAnRSTlNkFG3Yt+YAAAAPSURBVHheY2D4jxXhEgYAfr8P8SM7T18AAAAASUVORK5CYII=);
	color:-moz-FieldText}

.html-editor-inner{
	border-width:0;
	box-shadow:0 0 1px graytext,1px 1px 3px threedshadow}
	
@media (max-width:700px){
.devtools-responsive-container{-moz-box-orient:vertical}
#shaders-pane{max-height:200px}
#requests-menu-contents,#profiles-list,#markup-box>iframe{-moz-border-end-width:0}
}
@media not all and (max-width:700px){
.devtools-side-splitter{cursor:ew-resize}
#shaders-pane,#profiles-list,#editor,#markup-box>iframe{border-bottom-width:0}
}

div.debugLocation,div.breakpoint,div.error{
	opacity:1!important;
	width:20px!important;
	height:16px!important;
	background-size:auto}
div.error{
	background-position:center!important;
	background-image:-moz-image-rect(url(debugger.png),16,140,28,128)!important}
div.breakpoint{
	background-position:right center!important;
	background-image:-moz-image-rect(url(debugger.png),16,152,28,140)!important}
div.debugLocation{
	background-position:left center!important;
	background-image:-moz-image-rect(url(debugger.png),16,164,28,152)!important}
div.breakpoint.debugLocation{
	background-position:left center,right center!important;
	background-image:-moz-image-rect(url(debugger.png),16,152,28,140),-moz-image-rect(url(debugger.png),16,164,28,152)!important}

.devtools-tooltip-simple-text:not(:last-child){border-bottom:1px solid threedshadow}

div.CodeMirror span.eval-text{background-color:threedface}

.highlighted-icon{
	visibility:collapse}
.devtools-tab:not([selected=true])[highlighted]>.default-icon,
.devtools-tab:not([selected=true]).highlighted>.default-icon{
	visibility:collapse}
.devtools-tab:not([selected=true])[highlighted]>.highlighted-icon,
.devtools-tab:not([selected=true]).highlighted>.highlighted-icon{
	visibility:visible}

#context-options>hbox{-moz-box-align:center}
.options-citation-label{font-style:italic}

.hidden-labels-box:not(.visible)>label,
.hidden-labels-box.visible ~ .hidden-labels-box>label:last-child{
	display:none}

.dbg-classic-stackframe{
	display:block;
	padding:2px;
	-moz-padding-start:14px}
.selected>.dbg-classic-stackframe{background:-moz-image-rect(url(debugger.png),16,164,28,152) no-repeat left center}
.dbg-classic-stackframe-title{font-weight:600}
.dbg-classic-stackframe-details:-moz-locale-dir(ltr){float:right}
.dbg-classic-stackframe-details:-moz-locale-dir(rtl){float:left}
.dbg-classic-stackframe-details-url{max-width:90%;text-align:end}
.dbg-classic-stackframe-details-sep,
#instruments-pane>tabbox,
#sources-pane>tabbox,
#sources-pane>tabpanels{
	padding:0}

#trace{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,288px,16px,272px)}
#clear-button,
#clear-snapshots,
#requests-menu-clear-button,
#clear-tracer{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(272px,16px,288px,0)}

.style-editor-newButton{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(41px,54px,57px,38px)}

#import-button,
#import-snapshot,
#profiler-import,
.style-editor-importButton{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(57px 53px 73px 38px)}

#tracer-message{min-height:1px}
.trace-name{-moz-padding-start:4px}
.trace-param{color:blue}
.trace-item.selected-matching{background-color:#CCCCFF}
.trace-call,
.trace-syntax{color:darkblue}
.trace-return,
.trace-yield{color:darkgreen}
.trace-throw{color:darkred}
.trace-item.black-boxed{color:graytext}

.devtools-tooltip-alert-icon{list-style-image:url(chrome://global/skin/icons/warning-24.png)}

#command-button-pick{
	list-style-image:url(chrome://inspector/skin/inspector.png);
	-moz-image-region:rect(0,16px,16px,0)}

#toggle-breakpoints{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,64px,16px,48px)}

#command-button-rulers{
	list-style-image:url(debugger.png);
	-moz-image-region:rect(0,320px,16px,304px)}

.devtools-tooltip-iframe{border:none;background:none}
.spectrum-checker{background-color:-moz-dialog!important}
.spectrum-box{border:1px inset threedface!important}
.spectrum-slider-control{border:1px solid threeddarkshadow!important;background:rgba(128,128,128,.5)!important;opacity:1!important}
.generic-chart-container{transform:translateZ(1px)}

.chart-colored-blob{
	fill:graytext;
	background:graytext}

.pie-chart-slice{
	stroke-width:1px;
	cursor:pointer;
	stroke:graytext}

.pie-chart-label{
	text-anchor:middle;
	dominant-baseline:middle;
	pointer-events:none;
	fill:white}

.pie-chart-slice,
.pie-chart-label{
	transition:all 200ms ease-out;
	font-weight:600;
	font-size:120%}

.pie-chart-slice:not(:hover):not([focused]),
.pie-chart-slice:not(:hover):not([focused]) + .pie-chart-label{
	transform:none!important}

.table-chart-title{
	padding-bottom:10px;
	font-size:120%;
	font-weight:600}

.table-chart-row{
	margin-top:1px;
	cursor:pointer;
	transition:opacity 200ms ease-in-out}

.generic-chart-container:hover>.table-chart-grid:hover>.table-chart-row:not(:hover),
.generic-chart-container:hover ~ .table-chart-container>.table-chart-grid>.table-chart-row:not([focused]){
	opacity:.4}

.table-chart-row-box{
	width:8px;
	height:1.5em;
	-moz-margin-end:4px}

.table-chart-row-label{
	width:8em;
	-moz-padding-end:6px;
	cursor:inherit}

.table-chart-totals{margin-top:8px}
.table-chart-summary-label{font-weight:600}

.devtools-tooltip-font-previewer-text{
	max-width:400px;
	line-height:1.5;
	font-size:150%;
	text-align:center}

.devtools-tooltip-alert-icon{
	width:32px;
	height:32px;
	margin:6px;
	-moz-margin-end:20px}

.devtools-tooltip-alert-icon{list-style-image:url(chrome://global/skin/icons/warning-large.png)}
.devtools-tooltip-variables-view-box{margin:-4px}

.devtools-tooltip-tiles{
	background-color:threedface;
	background-image:
		linear-gradient(45deg,threedshadow 25%,transparent 25%,transparent 75%,threedshadow 75%,threedshadow),
		linear-gradient(45deg,threedshadow 25%,transparent 25%,transparent 75%,threedshadow 75%,threedshadow);
	background-size:20px 20px;
	background-position:0 0,10px 10px}

.devtools-tooltip-iframe{
	border:none;
	background:transparent}

.devtools-eyedropper-panel{
	pointer-events:none;
	-moz-appearance:none;
	width:156px;
	height:120px;
	background:none;
	border:none}

.CodeMirror-hints,
.CodeMirror-Tern-tooltip{
	border:2px solid;
	-moz-border-top-colors:threedshadow threedhighlight;
	-moz-border-left-colors:threedshadow threedhighlight;
	-moz-border-right-colors:threeddarkshadow threedshadow;
	-moz-border-bottom-colors:threeddarkshadow threedshadow;
	background-color:-moz-dialog;
	color:-moz-dialogtext}

.variables-view-open-inspector{-moz-box-ordinal-group:1}
.variables-view-edit,
.variables-view-add-property{-moz-box-ordinal-group:2}
.variable-or-property-frozen-label,
.variable-or-property-sealed-label,
.variable-or-property-non-extensible-label,
.variable-or-property-non-writable-icon{-moz-box-ordinal-group:3}
.variables-view-delete{-moz-box-ordinal-group:4}
.variables-view-container[actions-first] .variables-view-delete,
.variables-view-container[actions-first] .variables-view-add-property,
.variables-view-container[actions-first] .variables-view-open-inspector{-moz-box-ordinal-group:0}
.variables-view-container[actions-first] [invisible]{visibility:hidden}

.csscoverage-report{background:-moz-dialog}
.csscoverage-report-container{height:100vh;padding:10px}

.csscoverage-report-content{
	margin:0 auto;
	padding:0 10px}

.csscoverage-report h1,
.csscoverage-report h2,
.csscoverage-report h3{
	font-weight:bold}

.csscoverage-report textarea{
	width:100%;
	height:100px}

.csscoverage-report-content>*{display:block}
.pie-table-chart-container{display:-moz-box;-moz-box-orient:horizontal}
.pie-chart-container{-moz-margin-end:10px}
.csscoverage-list:not(:last-child):after{content:', '}

.chart-colored-blob[name="Used Preload"]{fill:#b82ee5;background:#b82ee5}
.chart-colored-blob[name=Used]{fill:#2cbb0f;background:#2cbb0f}
.chart-colored-blob[name=Unused]{fill:#d97e00;background:#d97e00}

.csscoverage-report .pie-chart-slice{cursor:default}
.csscoverage-report-chart{margin:0 50px}

.graph-widget-canvas{width:100%;height:100%;font:message-box}
.graph-widget-canvas[input=hovering-background]{cursor:text}
.graph-widget-canvas[input=hovering-region]{cursor:pointer}
.graph-widget-canvas[input=hovering-selection-start-boundary],
.graph-widget-canvas[input=hovering-selection-end-boundary],
.graph-widget-canvas[input=adjusting-selection-boundary]{cursor:col-resize}
.graph-widget-canvas[input=hovering-selection-contents]{cursor:grab}
.graph-widget-canvas[input=adjusting-view-area],
.graph-widget-canvas[input=dragging-selection-contents]{cursor:grabbing}

html.theme-dark,
html.theme-light,
.graph-widget-container{font:message-box}

.line-graph-widget-container{position:relative}
.line-graph-widget-canvas{background:#0088cc}
.line-graph-widget-gutter{
	pointer-events:none;
	position:absolute;
	background:rgba(255,255,255,.75);
	width:10px;
	height:100%;
	top:0;
	left:0;
	border-right:1px solid rgba(255,255,255,.25)}

.line-graph-widget-gutter-line{
	position:absolute;
	width:100%;
	border-top:1px solid}

.line-graph-widget-gutter-line[type=maximum]{border-color:#2cbb0f}
.line-graph-widget-gutter-line[type=minimum]{border-color:#ed2655}
.line-graph-widget-gutter-line[type=average]{border-color:#d97e00}

.line-graph-widget-tooltip{
	pointer-events:none;
	position:absolute;
	background:-moz-dialog;
	border-radius:2px;
	line-height:15px;
	-moz-padding-start:6px;
	-moz-padding-end:6px;
	transform:translateY(-50%);
	font-size:80%;
	z-index:1}

.line-graph-widget-tooltip[with-arrows=true]::before{
	content:"";
	position:absolute;
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
	top:calc(50% - 3px)}
.line-graph-widget-tooltip[arrow=start][with-arrows=true]::before{-moz-border-end:3px solid -moz-dialog;left:-3px}
.line-graph-widget-tooltip[arrow=end][with-arrows=true]::before{-moz-border-start:3px solid -moz-dialog;right:-3px}
.line-graph-widget-tooltip[type=maximum],
.line-graph-widget-tooltip[type=minimum]{left:14px}
.line-graph-widget-tooltip[type=average]{right:4px}
.line-graph-widget-tooltip>[text=info]{color:#18191a}
.line-graph-widget-tooltip>[text=value]{-moz-margin-start:3px}
.line-graph-widget-tooltip>[text=metric]{-moz-margin-start:1px;color:#667380}

.line-graph-widget-tooltip>[text=value],
.line-graph-widget-tooltip>[text=metric],
.bar-graph-widget-legend-item>[view="label"]{
	text-shadow:1px 0 threedhighlight,-1px 0 threedhighlight,0 -1px threedhighlight,0 1px threedhighlight}

.line-graph-widget-tooltip[type=maximum]>[text=value]{color:#2cbb0f}
.line-graph-widget-tooltip[type=minimum]>[text=value]{color:#ed2655}
.line-graph-widget-tooltip[type=average]>[text=value]{color:#d97e00}

bar-graph-widget-canvas{
	background:-moz-field}

.bar-graph-widget-legend{
	pointer-events:none;
	position:absolute;
	top:4px;
	left:8px;
	color:#292e33;
	font-size:80%;
	pointer-events:none}

.bar-graph-widget-legend-item{
	float:left;
	-moz-margin-end:8px}

.bar-graph-widget-legend-item>[view="color"],
.bar-graph-widget-legend-item>[view="label"]{
	vertical-align:middle}

.bar-graph-widget-legend-item>[view="color"]{
	display:inline-block;
	width:8px;
	height:8px;
	border:1px solid graytext;
	border-radius:1px;
	-moz-margin-end:4px;
	pointer-events:all;
	cursor:pointer}

.ruleview-rule[uneditable=true]{background:transparent}
.ruleview-rule[uneditable=true]:focus{outline:none}
.ruleview-rule[uneditable=true] .theme-link{color:#5f88b0}
.ruleview-rule[uneditable=true] .ruleview-enableproperty{visibility:hidden}
.ruleview-rule[uneditable=true] .ruleview-bezierswatch,
.ruleview-rule[uneditable=true] .ruleview-colorswatch{cursor:default}
.ruleview-rule[uneditable=true] .ruleview-namecontainer>.ruleview-propertyname,
.ruleview-rule[uneditable=true] .ruleview-propertycontainer>.ruleview-propertyvalue{border-bottom-color:transparent}

#requests-menu-reload-notice-button{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(128px,16px,144px,0)}
	
.csscoverage-toolbar{background:none}

.devtools-tooltip[clamped-dimensions]{
	min-height:100px;
	max-height:400px;
	min-width:100px;
	max-width:400px}
.devtools-tooltip[clamped-dimensions-no-min-height]{
	min-height:0;
	max-height:400px;
	min-width:100px;
	max-width:400px}
.devtools-tooltip[clamped-dimensions-no-max-or-min-height]{
	min-width:400px;
	max-width:400px}
.devtools-tooltip[clamped-dimensions] .panel-arrowcontent,
.devtools-tooltip[clamped-dimensions-no-min-height] .panel-arrowcontent,
.devtools-tooltip[clamped-dimensions-no-max-or-min-height] .panel-arrowcontent,
#inspector-toolbar{overflow:hidden}

#inspector-searchbox{
	transition-property:max-width,-moz-padding-end,-moz-padding-start;
	transition-duration:250ms;
	transition-timing-function:ease;
	max-width:100px}
#inspector-searchbox[focused],#inspector-searchbox[filled]{
	max-width:300px!important}
#inspector-searchbox:not([focused]):not([filled])>.textbox-input-box{
	overflow:hidden}
#inspector-searchbox>.textbox-input-box>.textbox-input{
	border-width:0!important;
	margin:0;
	padding:0 1px}

#devtools-tooltip-events-container{
	margin:-4px;
	max-width:590px;
	overflow-y:auto}

.event-header{
	display:flex;
	align-items:center;
	cursor:pointer}

.event-tooltip-event-type,
.event-tooltip-filename,
.event-tooltip-attributes{
	-moz-padding-start:0;
	flex-shrink:0;
	cursor:pointer}

.event-tooltip-event-type{
	font-weight:bold}

.event-tooltip-filename{
	-moz-padding-end:0;
	flex:1}

.event-tooltip-debugger-icon{
	width:16px;
	height:16px;
	-moz-margin-end:2px;
	flex-shrink:0;
	background-image:-moz-image-rect(url(debugger.png),16,32,32,16)}
.event-tooltip-debugger-icon:hover{
	background-color:#CCCCFF}

.event-tooltip-content-box{
	min-height:50px;
	border:1px inset threedface;
	overflow:auto}
.event-tooltip-content-box:not([open]){
	display:none}

.event-tooltip-attributes-container{
	display:flex;
	flex-shrink:0;
	flex-grow:1;
	justify-content:flex-end}
	
.event-tooltip-attributes-box{	
	display:flex;
	flex-shrink:0;
	align-items:center;
	border-radius:3px;
	padding:0 2px;
	-moz-margin-start:5px;
	font-size:90%;
	font-weight:bold;
	background-color:graytext;
	color:white}

.event-tooltip-attributes{
	margin:0}

.markupview-events{
	font-size:90%;
	font-weight:bold;
	border-radius:3px;
	padding:0 2px;
	-moz-margin-start:5px;
	-moz-user-select:none;
	background-color:graytext;
	color:white}

.profiler-sidebar-item>hbox>a,
.recording-item-save,
.stylesheet-saveButton{
	display:-moz-box!important;
	visibility:hidden;
	outline:0!important;
	display:-moz-box;
	min-height:18px;
	text-decoration:none;
	margin:-2px 0 0 0!important;
	padding:0 2px;
	-moz-padding-start:20px;
	border:1px solid;
	border-color:threedhighlight graytext graytext threedhighlight;
	background-color:buttonface;
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),368,16,384,0),url(chrome://global/skin/menu-bg.png);
	background-repeat:no-repeat,repeat;
	background-position:top left;
	color:buttontext!important}
li:hover>hgroup>.stylesheet-more>h3>.stylesheet-saveButton,
.recording-item-save[value],
.unsaved .stylesheet-saveButton{visibility:visible}
.stylesheet-saveButton:focus{
	outline:0!important;
	box-shadow:0 0 2px #9999CC!important}
.profiler-sidebar-item>hbox>a:hover,
.recording-item-save:hover,
.stylesheet-saveButton:hover{
	box-shadow:.5px .5px 2.5px -.5px graytext;
	background-color:#CCCCFF;
	color:black}
.profiler-sidebar-item>hbox>a:hover:active,
.recording-item-save:hover:active,
.stylesheet-saveButton:hover:active{
	box-shadow:inset 1px 1px 1px threedshadow;
	border-color:graytext threedhighlight threedhighlight graytext;
	background-color:highlight;
	color:highlighttext}

#canvas-debugging-empty-notice-button,
#record-snapshot,
#empty-notice button,
#recording-notice button,
#main-record-button,
#record-button,
#profiler-start{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(80px,16px,96px,0)}
#empty-notice button[checked],
#recording-notice button[checked],
#main-record-button[checked],
#record-button[checked],
#profiler-start[checked="true"],
#record-snapshot[checked]{
	-moz-image-region:rect(16px,16px,32px,0)}

#main-record-button[locked]{pointer-events:none}

.notice-container{
	font-size:120%;
	background:-moz-dialog;
	color:-moz-dialogtext}
#import-notice,
#loading-notice{
	font-size:250%;
	color:rgba(0,0,0,0.2)}

.table-widget-body{
	overflow:auto}

.table-widget-body>.devtools-side-splitter{min-width:1px;background-color:threedshadow}
.table-widget-wrapper[hidden="true"]+.devtools-side-splitter{display:none}

.table-widget-column-header{
	width:100%;
	border:none;
	padding:2px;
	border-bottom:1px solid threedshadow;
	background-color:-moz-dialog;
	color:-moz-dialogtext}
.table-widget-column-header:not(:active)[sorted]{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,49,12,37);
	background-position:center right;
	background-repeat:no-repeat}
.table-widget-column-header:not(:active)[sorted=ascending]{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,37,12,25)}

.table-widget-cell{
	width:100%;
	padding:0 2px!important;
	background-clip:padding-box;
	-moz-user-focus:normal;
	border-bottom:1px solid -moz-dialog}

.table-widget-cell.flash-out{animation:flash-out 500ms ease-in}
@keyframes flash-out{to{background:#a18650}}

.table-widget-empty-text{
	text-align:center;
	font-weight:600;
	color:GrayText;
	pointer-events:none}

.table-widget-body:not(:empty):not([empty])+.table-widget-empty-text,
.table-widget-body:empty,
.table-widget-body[empty]{
	display:none}

.table-widget-column{min-width:50px}

.tree-widget-container{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	list-style:none;
	overflow:hidden;
	-moz-margin-end:40px}

.tree-widget-container:-moz-focusring,
.tree-widget-container *:-moz-focusring{
	outline-style:none}

.tree-widget-empty-text{
	padding:10px 20px;
	font-size:medium;
	background:transparent}

.tree-widget-container .tree-widget-item{
	display:inline-block;
	width:100%;
	word-break:keep-all}

.tree-widget-container .tree-widget-children{
	margin:0;
	padding:0;
	list-style:none}

.tree-widget-item:before{
	content:"";
	width:16px;
	height:16px;
	float:left;
	background:-moz-image-rect(url(chrome://global/skin/widgets.png),0,12,12,0) no-repeat center;
	cursor:pointer}
.tree-widget-item:-moz-locale-dir(rtl):before{
	float:right;
	transform:scaleX(-1)}
.tree-widget-item[expanded]:before{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,25,12,13)}
.tree-widget-item[empty]:before{
	background:none!important}
.tree-widget-item+ul{
	overflow:hidden;
	animation:collapse-tree-item .2s;
	max-height:0}

.tree-widget-item[expanded]+ul{
	animation:expand-tree-item .3s;
	max-height:unset}

@keyframes collapse-tree-item{from{max-height:300px}to{max-height:0}}
@keyframes expand-tree-item{from{max-height:0}to{max-height:500px}}

.tree-widget-item[level]+ul>li>.tree-widget-item{-moz-padding-start:98px}
.tree-widget-item[level="1"]+ul>li>.tree-widget-item{-moz-padding-start:14px}
.tree-widget-item[level="2"]+ul>li>.tree-widget-item{-moz-padding-start:28px}
.tree-widget-item[level="3"]+ul>li>.tree-widget-item{-moz-padding-start:42px}
.tree-widget-item[level="4"]+ul>li>.tree-widget-item{-moz-padding-start:56px}
.tree-widget-item[level="5"]+ul>li>.tree-widget-item{-moz-padding-start:70px}
.tree-widget-item[level="6"]+ul>li>.tree-widget-item{-moz-padding-start:84px}

.tree-widget-item[type]:after{
	content:"";
	float:left;
	width:16px;
	height:16px;
	-moz-margin-end:2px;
	background-repeat:no-repeat;
	background-size:16px 16px;
	background-position:0 0}
.tree-widget-item:-moz-locale-dir(rtl):after{
	float:right}
.tree-widget-item[type="dir"]:after{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),57,53,73,38)}
.tree-widget-item[type="dir"][expanded]:not([empty]):after{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),57,70,73,54)}
.tree-widget-item[type="url"]:after{
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),144,16,160,0)}

.CodeMirror-foldmarker{
	color:graytext;
  	text-shadow:none;
	font-size:130%}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded{
	text-align:center;
	color:graytext}

.CodeMirror-foldmarker:hover,
.CodeMirror-foldgutter-open:hover,
.CodeMirror-foldgutter-folded:hover,
.table-widget-cell:hover,
.tree-widget-item:hover,
.table-widget-column-header:hover{
	background-color:#CCCCFF;
	color:black}
.CodeMirror-foldmarker:hover:active,
.CodeMirror-foldgutter-open:hover:active,
.CodeMirror-foldgutter-folded:hover:active,
.side-menu-widget-item.selected,
.side-menu-widget-item-other.selected,
.tree-widget-item:hover:active,
.table-widget-column-header:hover:active{
	background-color:highlight!important;
	color:highlighttext!important}

.devtools-tab>image{display:none}
.devtools-button,
.devtools-tab{
	position:relative;
	min-width:20px;
	min-height:18px;
	-moz-padding-start:2px}
.devtools-button::before,
.devtools-tab::before{
	content:"";
	display:block;
	width:16px;
	height:16px;
	background:url(chrome://global/skin/icons/information-16.png) center left no-repeat}
#toolbox-tab-webconsole::before{background-image:-moz-image-rect(url(debugger.png),16,16,32,0)}
#toolbox-tab-jsdebugger::before{background-image:-moz-image-rect(url(debugger.png),16,32,32,16)}
#toolbox-tab-jsdebugger:not([selected=true])[highlighted]::before{background-image:-moz-image-rect(url(debugger.png),16,48,32,32)}
#toolbox-tab-inspector::before{background-image:-moz-image-rect(url(debugger.png),16,64,32,48)}
#toolbox-tab-styleeditor::before{background-image:-moz-image-rect(url(chrome://inspector/skin/inspector.png),0,80,16,64)}
#toolbox-tab-shadereditor::before{background-image:-moz-image-rect(url(debugger.png),16,128,32,112)}
#toolbox-tab-jsprofiler::before{background-image:-moz-image-rect(url(debugger.png),16,96,32,80)}
#toolbox-tab-netmonitor::before{background-image:-moz-image-rect(url(debugger.png),16,112,32,96)}
#toolbox-tab-canvasdebugger::before{background-image:-moz-image-rect(url(debugger.png),16,252,32,236)}
#toolbox-tab-webaudioeditor::before{background-image:-moz-image-rect(url(debugger.png),16,236,32,220)}
#toolbox-tab-scratchpad::before{background-image:-moz-image-rect(url(debugger.png),0,144,16,128)}
#toolbox-tab-storage::before{background-image:-moz-image-rect(url(debugger.png),16,304,32,288)}
#toolbox-tab-options::before{background-image:-moz-image-rect(url(chrome://global/skin/global.png),96,16,112,0)!important}

.legend{
	position:absolute;
	margin:5px 6px;
	z-index:1}

.legend[data-box="margin"]{color:highlight}

.devtools-searchbox{
	display:-moz-box;
	border:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-left-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors:ThreeDHighLight ThreeDShadow;
	-moz-border-bottom-colors:ThreeDHighLight ThreeDShadow;
	margin:1px 2px;
	border-radius:5px;
	background:-moz-field;
	color:-moz-fieldtext}
.devtools-searchbox>*>.textbox-input,
.devtools-rule-searchbox{
	border-radius:3px 0 0 3px;
	font-family:inherit;
	border:0!important;
	margin:0!important}
.devtools-searchinput-clear{
	margin:0;
	padding:0;
	height:16px;
	width:16px;
	box-shadow:none!important;
	border-radius:0 3px 3px 0;
	border:1px solid transparent;
	background:-moz-image-rect(url(chrome://global/skin/global.png),177,31,191,17) center no-repeat}
.devtools-searchinput-clear[hidden]{
	display:-moz-box;
	visibility:hidden}
.devtools-searchinput-clear:hover{
	border:1px outset threedface!important;
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),225,31,239,17),url(chrome://global/skin/menu-bg.png)!important;
	background-repeat:no-repeat,repeat!important;
	background-position:center,left top!important}
.devtools-searchinput-clear:hover:active{
	border-style:inset!important;
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),113,31,127,17),url(chrome://global/skin/menu-bg.png)!important}
