/* These lines are parsed by theme.js, so must have space following : and must be # or rgb/rgba format */
:root{
	--theme-body-background: #F0F0F0;
	--theme-body-color: #000000;
	--theme-body-color-alt: #585959;
	--theme-sidebar-background: #F0F0F0;
	--theme-tab-toolbar-background: #F0F0F0;
	--theme-toolbar-background: #F0F0F0;
	--theme-contrast-background: #e6b064;
	--theme-selection-background: rgb(51, 153, 255);
	--theme-selection-background-semitransparent: rgba(51, 153, 255, .23);
	--theme-selection-color: #FFFFFF;
	--theme-splitter-color: #FFFFFF;
	--theme-comment: #6D6D6D;
	--theme-content-color1: #292e33;
	--theme-content-color2: #8fa1b2;
	--theme-content-color3: #667380;
	--theme-highlight-green: #2cbb0f;
	--theme-highlight-blue: #0088cc;
	--theme-highlight-bluegrey: #5f88b0;
	--theme-highlight-purple: #5b5fff;
	--theme-highlight-lightorange: #d97e00;
	--theme-highlight-orange: #f13c00;
	--theme-highlight-red: #ed2655;
	--theme-highlight-pink: #b82ee5;
}
