body{
	margin:0;
	overflow:auto;
	font:message-box;
	background-color:-moz-Field;
	color:-moz-fieldtext}

h1{font-size:110%;border-bottom:1px solid threedlightshadow}
a{color:-moz-nativehyperlinktext}
pre{margin:0;font:inherit}
code{display:block;white-space:pre}

.objectLink-element,
.objectLink-textNode,
.objectLink-function,
.objectBox-stackTrace,
.objectLink-profile{
	font-family:Menlo,Andale Mono,Consolas,monospace}

.objectLink-textNode{
	white-space:pre-wrap}

.objectLink-styleRule,
.objectLink-element,
.objectLink-textNode{
	color:darkblue}

.selectorTag,
.selectorId,
.selectorClass{
	font-family:Menlo,Andale Mono,Consolas,monospace;
	font-weight:normal}

.selectorTag{color:DarkGreen}
.selectorId{color:DarkBlue}
.selectorClass{color:darkred}
.selectorHidden>.selectorTag{color:green}
.selectorHidden>.selectorId{color:graytext}
.selectorHidden>.selectorClass{color:red}

.selectorValue{
	font-family:Menlo,Andale Mono,Consolas,monospace;
	font-style:italic;
	color:dimgray}

.panelNode-html{
	-moz-box-sizing:padding-box;
	padding:4px 0 0 2px}

.nodeBox{
	position:relative;
	font-family:Menlo,Andale Mono,Consolas,monospace;
	padding-left:13px;
	-moz-user-select:-moz-none}

.nodeBox.search-selection{
	-moz-user-select:text}

.twisty{
	position:absolute;
	left:0;
	top:0;
	width:14px;
	height:14px}

.nodeChildBox{
	margin-left:12px;
	display:none}

.nodeLabel,
.nodeCloseLabel{
	margin:-2px 2px 0 2px;
	border:2px solid transparent;
	border-radius:3px;
	padding:0 2px;
	color:darkblue}

.nodeCloseLabel{display:none}
.nodeTag{cursor:pointer;color:-moz-nativehyperlinktext}
.nodeValue{color:red;font-weight:normal}

.nodeText,
.nodeComment{
	margin:0 2px;
	vertical-align:top}

.nodeText{color:threedshadow}

.docType{
	position:absolute;
	top:-16px;
	font-family:Menlo,Andale Mono,Consolas,monospace;
	padding-left:8px;
	color:#999;
	white-space:nowrap;
	font-style:italic}

.htmlNodeBox{top:16px}

.nodeWhiteSpace{
	border:1px solid threedface;
	white-space:pre;
	margin-left:1px;
	color:gray}

.nodeWhiteSpace_Space{
	border:1px solid #ddd}

.nodeTextEntity{
	border:1px solid gray;
	white-space:pre;
	margin-left:1px}

.nodeComment{color:DarkGreen}

.nodeBox.highlightOpen>.nodeLabel{
	background-color:gainsboro}

.nodeBox.highlightOpen>.nodeCloseLabel,
.nodeBox.highlightOpen>.nodeChildBox,
.nodeBox.open>.nodeCloseLabel,
.nodeBox.open>.nodeChildBox{
	display:block}

.nodeBox.selected>.nodeLabel>.nodeLabelBox,
.nodeBox.selected>.nodeLabel{
	border-color:Highlight;
	background-color:Highlight;
	color:HighlightText!important}

.nodeBox.selected>.nodeLabel>.nodeLabelBox,
.nodeBox.selected>.nodeLabel>.nodeLabelBox>.nodeTag,
.nodeBox.selected>.nodeLabel>.nodeLabelBox>.nodeAttr>.nodeValue,
.nodeBox.selected>.nodeLabel>.nodeLabelBox>.nodeText{
	color:inherit!important}

.nodeBox.highlighted>.nodeLabel{
	border-color:Highlight!important;
	background-color:cyan!important;
	color:black!important}

.nodeBox.highlighted>.nodeLabel>.nodeLabelBox,
.nodeBox.highlighted>.nodeLabel>.nodeLabelBox>.nodeTag,
.nodeBox.highlighted>.nodeLabel>.nodeLabelBox>.nodeAttr>.nodeValue,
.nodeBox.highlighted>.nodeLabel>.nodeLabelBox>.nodeText{
	color:black!important}

.nodeBox.nodeHidden .nodeLabel>.nodeLabelBox,
.nodeBox.nodeHidden .nodeCloseLabel,
.nodeBox.nodeHidden .nodeLabel>.nodeLabelBox>.nodeText,
.nodeBox.nodeHidden .nodeText{
	color:graytext}

.nodeBox.nodeHidden .nodeLabel>.nodeLabelBox>.nodeTag,
.nodeBox.nodeHidden .nodeCloseLabel>.nodeCloseLabelBox>.nodeTag{
	color:darkslateblue}

.nodeBox.nodeHidden .nodeLabel>.nodeLabelBox>.nodeAttr>.nodeValue{
	color:crimson}

.nodeBox.nodeHidden.selected>.nodeLabel>.nodeLabelBox,
.nodeBox.nodeHidden.selected>.nodeLabel>.nodeLabelBox>.nodeTag,
.nodeBox.nodeHidden.selected>.nodeLabel>.nodeLabelBox>.nodeAttr>.nodeValue,
.nodeBox.nodeHidden.selected>.nodeLabel>.nodeLabelBox>.nodeText{
	color:steelblue!important}

.nodeBox.mutated>.nodeLabel,
.nodeAttr.mutated,
.nodeValue.mutated,
.nodeText.mutated,
.nodeBox.mutated>.nodeText{
	background-color:lavender;
	color:red!important}

.nodeBox.selected.mutated>.nodeLabel,
.nodeBox.selected.mutated>.nodeLabel>.nodeLabelBox,
.nodeBox.selected>.nodeLabel>.nodeLabelBox>.nodeAttr.mutated>.nodeValue,
.nodeBox.selected>.nodeLabel>.nodeLabelBox>.nodeAttr>.nodeValue.mutated,
.nodeBox.selected>.nodeLabel>.nodeLabelBox>.nodeText.mutated{
	background-color:lavender;
	border-color:lavender;
	color:red!important}

.logRow-dirxml{padding-left:0}
.soloElement>.nodeBox{padding-left:0}

.nodeBox.selected>.nodeLabel>.nodeLabelBox,
.nodeBox.selected>.nodeLabel{
	border-color:royalblue;
	background-color:royalblue;
	color:white!important}

.nodeBox.highlighted>.nodeLabel{
	border-color:royalblue!important}

.twisty{
	background:-moz-image-rect(url(chrome://global/skin/widgets.png),0,12,12,0) no-repeat center center!important}

.nodeBox.highlightOpen>.nodeLabel>.twisty,
.nodeBox.open>.nodeLabel>.twisty{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,25,12,13)!important}

.editingAttributeValue{
	background-color:#492}

#attribute-editor{
	visibility:hidden;
	position:absolute;
	z-index:5000;
	background-color:white;
	border:1px solid black}

#attribute-editor.editing{
	visibility:visible}

#attribute-editor-input{
	border:none;
	padding:2px 5px;
	font-family:Menlo, Andale Mono, monospace;
	font-size:11px}