body{
	-moz-box-sizing:border-box}

#header{
	margin:0!important;
	padding:2px!important;
	font:message-box!important}

#element-size{
	-moz-box-pack:center;
	font-weight:bold}

#main{
	margin:0!important;
	font:message-box!important;
	border:1px inset threedface!important;
	background-color:-moz-Field;
	color:-moz-FieldText;
	width:100%!important}

.border>span{
	background-color:threeddarkshadow;
	color:threedhighlight;
	border-radius:3px;
	padding:0 4px}

#borders{
	border:3px solid threeddarkshadow!important;
	box-shadow:none!important}

#padding{
	border-width:0!important;
	padding:25px;
	background-color:-moz-Dialog}

#content{
	height:34px!important;
	border:1px solid threedshadow;
	background-color:-moz-field}

#togglebutton{
	width:16px;
	height:16px;
	border:1px solid transparent;
	background:-moz-image-rect(url(chrome://global/skin/widgets.png),0,12,12,0) center no-repeat}
#togglebutton:hover{
	border:1px outset threedface;
	background-color:#CCCCFF}
#togglebutton:hover:active{
	border-style:inset;
	background-color:highlight}
body.open>#header>#togglebutton{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,25,12,13)}

.size,
.margin.left,
.margin.right,
.padding.left,
.padding.right{
	line-height:145px!important}
