body{
	-moz-box-sizing:border-box;
	margin-left:0!important;
	width:100%!important;
	left:0!important}

#header{
	margin:0!important;
	padding:2px!important;
	background-image:url(chrome://global/skin/toolbar-bg.png);
	font:message-box!important}

#element-size{
	-moz-box-pack:center;
	font-weight:bold}

#main{
	margin:0!important;
	font:message-box!important;
	border:2px solid!important;
	-moz-border-top-colors:ThreeDShadow ThreeDDarkShadow!important;
	-moz-border-left-colors:ThreeDShadow ThreeDDarkShadow!important;
	-moz-border-right-colors:ThreeDHighLight ThreeDShadow!important;
	-moz-border-bottom-colors:ThreeDHighLight ThreeDShadow!important;
	box-shadow:1px 1px 2px threedshadow inset!important;
	background-color:-moz-Field;
	color:-moz-FieldText;
	width:100%!important}

.border>span:not([data-box]){
	background-color:threeddarkshadow;
	border-radius:3px;
	padding:0 4px}

.border>span{color:threedhighlight}

#margins{
	border-width:0!important;
	padding:25px}

#borders{
	border:1px solid threeddarkshadow!important;
	box-shadow:2px 2px 7px threeddarkshadow!important;
	background:threedshadow}

#padding{
	border-width:0!important;
	padding:25px;
	background-color:-moz-Dialog}

#content{
	height:34px!important;
	border:1px solid threeddarkshadow;
	background-color:-moz-field}

.size,.margin.left,.margin.right,.border.left,.border.right,.padding.left,.padding.right{
	line-height:145px!important}

#main>p>span{font-weight:600}
.editable:hover{background-color:#CCCCFF}
.styleinspector-propertyeditor{box-shadow:0 0 1px graytext,1px 1px 3px threedshadow}