#network-table[waterfall-overflows] .requests-menu-waterfall{display:-moz-box!important}
  
#requests-menu-empty-notice{
	font-size:110%;
	text-align:center;
	padding-top:20px}

.side-menu-widget-container{
	border-top:2px solid;
	border-bottom:2px solid;
	-moz-border-top-colors:threedshadow threeddarkshadow;
	-moz-border-bottom-colors:threedhighlight threedshadow;
	background:-moz-field;
	color:-moz-fieldtext}
.side-menu-widget-item:nth-child(even):not(.selected){
	background-color:rgba(160,160,160,.08)}

.requests-menu-header-button{
	margin:0;
	padding:0;
	border-width:0;
	box-shadow:none}
.requests-menu-header-button:not(:hover){
	background:none}
.requests-menu-header-button>hbox{
	background-repeat:no-repeat;
	background-position:left center}
#requests-menu-size-button>hbox{
	background-position:right center}
.requests-menu-header-button[sorted]>hbox{
	-moz-padding-start:12px}
#requests-menu-size-button[sorted]>hbox{
	-moz-padding-start:0;
	-moz-padding-end:12px}
.requests-menu-header-button[sorted=ascending]>hbox{background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,49,12,37)}
.requests-menu-header-button[sorted=descending]>hbox{background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),0,37,12,25)}

#details-pane>tabpanels,
.requests-menu-header,
.requests-menu-subitem{padding:0}
.requests-menu-status-and-method{width:6em}
.requests-menu-file{width:16em}
.requests-menu-domain{width:12em}
.requests-menu-type{width:4em}
.requests-menu-size{text-align:end;width:5em}

.requests-menu-header:not(:last-of-type),
.requests-menu-subitem:not(:last-child){
	-moz-border-end:1px solid threedshadow}

.requests-menu-status{
	width:10px;
	height:10px}
box.requests-menu-status{
	margin:0 2px;
	border-radius:20px;
	box-shadow:0 -6px 4px graytext inset}
box.requests-menu-status[code^="1"]{box-shadow:0 -6px 4px rgb(0,0,128) inset}
box.requests-menu-status[code^="2"]{box-shadow:0 -6px 4px rgb(0,128,0) inset}
box.requests-menu-status[code^="3"]{box-shadow:0 -6px 4px rgb(128,64,0) inset}
box.requests-menu-status[code^="4"]{box-shadow:0 -6px 4px rgb(128,0,0) inset}
box.requests-menu-status[code^="5"]{box-shadow:0 -6px 4px rgb(128,0,128) inset}

.requests-menu-method{
	text-align:center;
	font-weight:600}

.blocked{background-color:red}
.dns{background-color:purple}
.connect{background-color:blue}
.send{background-color:#AAAA00}
.wait{background-color:grey}
.receive{background-color:green}

#details-pane{
	max-width:500px;
	border-bottom-width:0}

#details-pane-toggle{
	margin:0;
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(177px 31px 191px 17px)}
#details-pane-toggle:hover{
	-moz-image-region:rect(225px 31px 239px 17px)}
#details-pane-toggle:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)}

#requests-menu-waterfall-label,
.tabpanel-summary-container{
	padding:0 2px}

.tabpanel-summary-label{
	padding:0 2px;
	font-weight:600}

.tabpanel-summary-value{
	padding:0 2px;
	font-family:Consolas,Lucida Console,monospace}

#headers-summary-status,
#headers-summary-version{padding-bottom:2px}
#headers-summary-size{padding-top:2px}

#response-content-image{
	margin:4px;
	box-shadow:2px 2px 15px threeddarkshadow,2px 2px 4px threeddarkshadow;
	background:-moz-field;
	color:-moz-fieldtext}
#response-content-image:hover{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEWgoKClpaUrSK7yAAAAAnRSTlNkFG3Yt+YAAAAPSURBVHheY2D4jxXhEgYAfr8P8SM7T18AAAAASUVORK5CYII=)}

#timings-tabpanel>vbox>hbox>.tabpanel-summary-label{width:10em}

.requests-menu-timings-box,
.requests-menu-timings-total{
	min-width:1px}

.requests-menu-footer-button{
	font-size:90%;
	margin:1px;
	padding:0;
	box-shadow:none;
	border-radius:3px}
.requests-menu-footer-button:not(:hover){
	-moz-border-top-colors:transparent;
	-moz-border-left-colors:transparent;
	-moz-border-right-colors:transparent;
	-moz-border-bottom-colors:transparent;
	background:none}
.requests-menu-footer-button[checked]{
	-moz-border-top-colors:threedshadow;
	-moz-border-left-colors:threedshadow;
	-moz-border-right-colors:threedhighlight threedshadow;
	-moz-border-bottom-colors:threedhighlight threedshadow;
	background-color:rgba(255,255,255,.5)}

#request-menu-network-summary{
	text-align:end;
	color:graytext}

.requests-menu-footer-spacer,
.requests-menu-empty-notice:not([hidden="true"])+#requests-menu-contents,
#details-pane-toggle[pane-collapsed]{
	display:none}

.requests-menu-timings-division{
	width:100px;
	padding-top:1px;
	-moz-padding-start:4px;
	-moz-border-start:1px solid threedshadow;
	font-size:90%;
	pointer-events:none}
.requests-menu-timings-division:not(:first-child){
	-moz-margin-start:-100px!important}

.requests-menu-subitem.requests-menu-waterfall{
	-moz-padding-start:4px;
	-moz-padding-end:4px;
	background-repeat:repeat-y;
	margin-top:-1px;
	margin-bottom:-1px}
.requests-menu-subitem.requests-menu-waterfall:-moz-locale-dir(rtl){
	background-position:right center}

.requests-menu-timings-division:-moz-locale-dir(ltr),
.requests-menu-timings:-moz-locale-dir(ltr),
.requests-menu-timings-total:-moz-locale-dir(ltr){
	transform-origin:left center}
.requests-menu-timings-division:-moz-locale-dir(rtl),
.requests-menu-timings:-moz-locale-dir(rtl),
.requests-menu-timings-total:-moz-locale-dir(rtl){
	transform-origin:right center}

.requests-menu-timings-total{
	-moz-padding-start:4px;
	font-size:85%;
	font-weight:600}

.requests-menu-timings-cap{
	width:4px;
	height:10px}

.requests-menu-timings-cap.start:-moz-locale-dir(ltr),
.requests-menu-timings-cap.end:-moz-locale-dir(rtl){
	border-radius:4px 0 0 4px;
	transform-origin:right center}

.requests-menu-timings-cap.start:-moz-locale-dir(rtl),
.requests-menu-timings-cap.end:-moz-locale-dir(ltr){
	border-radius:0 4px 4px 0;
	transform-origin:left center}

.requests-menu-timings-box{
	height:10px}

#response-content-info-header{
	background:darkred url(chrome://global/skin/toolbar-bg.png);
	color:white}

#all-headers,#all-cookies,#request-params{
	border-left-width:0;
	border-right-width:0;
	border-bottom-width:0}	