.profile-name{padding:2px}
.profiler-sidebar{min-width:150px}
#profiles-list{background-image:linear-gradient(-moz-dialog, graytext 200%)}

.side-menu-widget-item{
	padding:2px;
	border:1px outset threedface;
	background-color:-moz-dialog;
	background-image:none!important;
	color:-moz-dialogtext}
.profiler-sidebar-item{-moz-box-flex:1}
.profiler-sidebar-item>hbox>span{font-style:italic}

:-moz-any(#empty-notice,#recording-notice) .button-text{display:none}
.recording-item{padding:2px}
#recordings-pane{-moz-margin-end:2px}
#profile-content{border-bottom-width:0;padding:0}

#profile-content tabs{
	-moz-box-align:stretch;
	height:24px;
	font:inherit;
	background:none}

#profile-content tab[covered]{
	opacity:0;
	transform:translateY(100%)}

#profile-content>hbox{-moz-box-align:center}
#profile-content>tabpanels{padding:0}

#profile-content tabpanel{
	-moz-box-orient:vertical;
	transform:translateZ(1px)}

#profile-newtab-button{
	padding:3px!important;
	border-radius:100%;
	list-style-image:url(chrome://global/skin/widgets.png)!important;
	-moz-image-region:rect(32px 36px 40px 28px)!important}
#profile-newtab-button:hover:active{
	-moz-image-region:rect(72px 101px 80px 93px)!important}

.recording-item-duration{color:graytext}

.call-tree-headers-container{
	border-bottom:1px solid threedshadow;
	background:-moz-dialog}

.call-tree-cells-container{
	transform:translateZ(1px);
	overflow:auto;
	background:-moz-field;
	color:-moz-fieldtext}

.call-tree-header[type="duration"],
.call-tree-cell[type="duration"],
.call-tree-header[type="self-duration"],
.call-tree-cell[type="self-duration"]{
	width:6vw}

.call-tree-header[type="percentage"],
.call-tree-cell[type="percentage"],
.call-tree-header[type="self-percentage"],
.call-tree-cell[type="self-percentage"]{
	width:5vw}

.call-tree-header[type="samples"],
.call-tree-cell[type="samples"]{
	width:4vw}

.call-tree-header[type="allocations"],
.call-tree-cell[type="allocations"],
.call-tree-header[type="self-allocations"],
.call-tree-cell[type="self-allocations"] {
	width:9vw}

.call-tree-header[type="function"],
.call-tree-cell[type="function"]{
	-moz-box-flex:1}

.call-tree-header,
.call-tree-cell{
	-moz-box-align:center;
	overflow:hidden;
	padding:0 2px}

.call-tree-header:not(:last-child),
.call-tree-cell:not(:last-child){
	-moz-border-end:1px solid threedshadow}

.call-tree-header:not(:last-child){text-align:center}
.call-tree-cell:not(:last-child){text-align:end}

.call-tree-header{background-color:-moz-dialog}
.call-tree-item{-moz-user-focus:normal}

.call-tree-item:nth-child(2n){background-color:rgba(160,160,160,.08)}
.call-tree-item:hover{background-color:#CCCCFF}
.call-tree-item:focus{background-color:highlight;color:highlighttext}
.call-tree-item:focus .call-tree-cell{-moz-border-end-color:threedshadow}

.call-tree-item:not([origin="content"]) .call-tree-name,
.call-tree-item:not([origin="content"]) .call-tree-url,
.call-tree-item:not([origin="content"]) .call-tree-line,
.call-tree-item:not([origin="content"]) .call-tree-column{
	opacity:.6}

.call-tree-item[root] .call-tree-cell[type="invocations"]{
	color:transparent!important}

.call-tree-url{
	-moz-margin-start:4px!important;
	cursor:pointer;
	color:-moz-nativehyperlinktext}
.call-tree-url:hover{
	text-decoration:underline}

.call-tree-line{color:#f13c00}
.call-tree-column{color:graytext}

.call-tree-host{
	-moz-margin-start:8px!important;
	font-size:90%;
	color:#8fa1b2}

.call-tree-zoom{
	border-width:0!important;
	min-width:16px;
	-moz-margin-start:8px!important;
	cursor:zoom-in;
	opacity:0;
	background:-moz-image-rect(url(chrome://global/skin/global.png),64,16,80,0) center no-repeat}

.call-tree-item:hover .call-tree-zoom{
	transition:opacity 300ms ease-in;
	opacity:1}

.call-tree-item:hover .call-tree-zoom:hover{
	opacity:0}

.call-tree-category{
	transform:scale(.75);
	transform-origin:center right}

.call-tree-name[value=""],
.call-tree-url[value=""],
.call-tree-line[value=""],
.call-tree-column[value=""],
.call-tree-host[value=""],
.call-tree-cells-container[allocations-hidden] .call-tree-cell[type="allocations"],
.call-tree-cells-container[allocations-hidden] .call-tree-cell[type="self-allocations"],
.call-tree-cells-container[categories-hidden] .call-tree-category{
	display:none}
