.hud-box{
	background-color:-moz-Dialog;
	color:-moz-DialogText}

.hud-outer-wrapper{
	width:100%;
	height:100%}

.hud-console-filter-toolbar{
	margin:0 1px!important;
	border:0!important}

.hud-console-wrapper{
	width:100%;
	overflow:auto}

.hud-clickable{
	cursor:pointer;
	color:-moz-nativehyperlinktext}
a{
	-moz-user-focus:normal;
	-moz-user-input:enabled;
	cursor:pointer;
	border-radius:5px;
	text-decoration:underline}
*:visited{}

#output-wrapper{
	direction:ltr;
	overflow:auto;
	border:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-left-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors:ThreeDHighLight ThreeDShadow;
	-moz-border-bottom-colors:ThreeDHighLight ThreeDShadow;
	background-color:-moz-field;
	color:-moz-fieldtext}
#devtools-webconsole[chromehidden] #output-wrapper{
	-moz-border-start-width:0}

#output-container{
	-moz-user-select:text;
	-moz-box-flex:1;
	display:flex;
	flex-direction:column;
	align-items:flex-start}

.message{
	display:flex;
	flex:none;
	width:100%;
	border-bottom:1px dotted threedface}
.message>*{flex:none}
.timestamp{
	color:GrayText;
	padding:0 3px}
.icon{
	width:18px;
	margin-top:-1px;
	-moz-border-start:6px solid threedshadow;
	background-image:none;
	background-size:14px;
	background-position:2px 2px;
	background-repeat:no-repeat}
.body{
	flex:1 1 100%!important;
	white-space:pre-wrap;
	word-wrap:break-word}
.message-body-wrapper{flex:1 1 100%}
.message-flex-body{display:flex}
.message-body>*{
	white-space:pre-wrap;
	word-wrap:break-word}
.message-flex-body>.message-body{
	display:block;
	flex:auto}

.hud-msg-node{
	padding:0;
	border-width:0}

@media (-moz-windows-compositor){
.hud-output-node{
	border-left-width:0!important;
	border-right-width:0!important}
.gcliterm-hint-parent:not([hidden="true"])+.hud-output-node{
	border-left-width:2px!important}
}

.hud-output-node,
.jsterm-input-node,
.jsterm-complete-node{
	border-radius:5px;
	font:1em Consolas,Lucida Console,monospace}

.hud-output-node{
	border-radius:0!important}

.jsterm-input-node{
	background:none}

:-moz-any(.jsterm-input-node,.jsterm-complete-node)>.textbox-input-box>.textbox-textarea{
	overflow-x:hidden;
	padding:2px}

.webconsole-timestamp{
	color:GrayText;
	padding:0 3px}
	
.jsterm-complete-node{
	color:GrayText}

.webconsole-msg-body{
	white-space:pre-wrap}

.webconsole-msg-body-piece{
	padding:0}

.webconsole-msg-url{
	margin:0 6px}

.location,
.message-location,
.webconsole-location{
	max-width:25%;
	padding:0 1px;
	margin:0 1px;
	text-align:end;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	font-style:italic}
.message-location>.filename,
.location>.filename{
	text-overflow:ellipsis;
	text-align:end;
	overflow:hidden;
	white-space:nowrap}
.message-location>.line-number,
.location>.line-number{
	flex:0}

.repeats,
.message-repeats,
.webconsole-msg-repeat{
	-moz-user-select:none;
	height:1.5em;
	padding:0 2px;
	margin:0 1px;
	font-size:90%;
	font-weight:bold;
	border-radius:5px;
	background-color:threeddarkshadow;
	color:threedhighlight}

.status{
	padding:0 2px}

.hideTimestamps>.message>.timestamp,
.hud-group:first-child>.hud-divider,
.hud-filtered-by-type,
.hud-filtered-by-string,
.filtered-by-type,
.filtered-by-string,
.message-repeats[value="1"],
.repeats[value="1"],
.webconsole-msg-repeat[value="1"]{
	display:none}

.message[category=network] .status,
.webconsole-msg-status{
	color:purple}

.hud-msg-node[selected="true"]>.webconsole-timestamp,
.hud-msg-node[selected="true"]>.webconsole-location,
.message[selected="true"]>.timestamp,
.message[selected="true"]>.location,
.message[selected="true"]>.message-location{
	color:inherit}

.hud-splitter{
	border-top:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDHighLight;
	min-height:4px;
	max-height:4px;
	background:-moz-Dialog url(chrome://global/skin/toolbar-bg.png)}
.hud-box+.hud-splitter{
	border-top-width:0;
	border-bottom:2px solid;
	-moz-border-bottom-colors:threeddarkshadow threedshadow}

a:hover,
.message:hover,
.hud-splitter:hover{
	background-color:#CCCCFF;
	color:black}
a:hover:active,
.message:hover:active,
.hud-splitter[state="dragging"]{
	background-color:highlight;
	color:highlighttext}

.hud-splitter+.hud-box>vbox>vbox>.hud-console-filter-toolbar{
	background-position:-4px -4px}
	
.webconsole-clear-console-button,
menuitem[buttonType="clear"]{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(272px,16px,288px,0)}

.devtools-closebutton,
.webconsole-close-button{
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(177px 31px 191px 17px)!important}
.webconsole-close-button:not(:hover){
	-moz-border-top-colors:transparent!important;
	-moz-border-left-colors:transparent!important;
	-moz-border-right-colors:transparent!important;
	-moz-border-bottom-colors:transparent!important;
	background:none!important}
.devtools-closebutton:hover,
.webconsole-close-button:hover{
	-moz-image-region:rect(225px 31px 239px 17px)!important}
.devtools-closebutton:hover:active,
.webconsole-close-button:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)!important}

.webconsole-filter-button{margin:0 2px}
.webconsole-filter-button>toolbarbutton>.toolbarbutton-icon{
	margin:4px;
	width:10px;
	height:10px;
	border:1px solid threeddarkshadow;
	box-shadow:1px 1px 1px threedshadow;
	background-color:black}
.webconsole-filter-button[category="css"]>toolbarbutton>.toolbarbutton-icon{background-color:#0088cc}
.webconsole-filter-button[category="js"]>toolbarbutton>.toolbarbutton-icon{background-color:#d97e00}
.webconsole-filter-button[category="logging"]>toolbarbutton>.toolbarbutton-icon,
.webconsole-filter-button[category="webdev"]>toolbarbutton>.toolbarbutton-icon{background-color:threedshadow}
.webconsole-filter-button[category="security"]>toolbarbutton>.toolbarbutton-icon{background-color:darkred}

.webconsole-msg-icon-container{-moz-border-start:6px solid threedshadow}
.webconsole-msg-network>.webconsole-msg-icon-container{border-color:black}
.webconsole-msg-cssparser>.webconsole-msg-icon-container{border-color:#0088cc}
.webconsole-msg-exception>.webconsole-msg-icon-container{border-color:#d97e00}
.webconsole-msg-console>.webconsole-msg-icon-container{border-color:threedshadow}
.webconsole-msg-security>.webconsole-msg-icon-container{border-color:darkred}

.webconsole-msg-icon{height:14px;width:14px;margin:1px}
.webconsole-msg-error{list-style-image:url(chrome://global/skin/icons/error-16.png)!important}
.webconsole-msg-warn{list-style-image:url(chrome://global/skin/icons/warning-16.png)!important}
.webconsole-msg-log,
.webconsole-msg-info{list-style-image:url(chrome://global/skin/icons/information-16.png)!important}
.webconsole-msg-security{list-style-image:url(chrome://global/skin/icons/blacklist_favicon.png)!important}

#webConsole_autocompletePopup>richlistbox{border-width:0}
#webConsole_autocompletePopup>richlistbox>richlistitem{border-width:0;padding:1px}
 	
.webconsole-mixed-content{color:darkred}
.webconsole-mixed-content-link{color:darkblue}
	
#webconsole-sidebar{border-width:0}
#webconsole-sidebar>tabs{display:none}
#webconsole-sidebar>tabpanels{border-width:0;padding:0}

.hidden-message{
	display:block;
	visibility:hidden;
	height:0;
	overflow:hidden}


.message[category=network]>.icon{border-color:black}
.message[category=cssparser]>.icon{border-color:#0088cc}
.message[category=exception]>.icon{border-color:#d97e00}
.message[category=console]>.icon{border-color:#cbcbcb}
.message[category=security]>.icon{border-color:darkred}

.message[severity="error"]>.icon{background-image:url(chrome://global/skin/icons/error-16.png)!important}
.message[severity="warn"]>.icon{background-image:url(chrome://global/skin/icons/warning-16.png)!important}
.message[severity=info]>.icon{background-image:url(chrome://global/skin/icons/information-16.png)!important}

.inlined-variables-view .body{
	display:flex;
	flex-direction:column}

.inlined-variables-view iframe{
	display:block;
	flex:1}
	
.message[category=network]>.body{display:flex}
.message[category=network] .method{flex:none}

.message[category=network]:not(.navigation-marker) .url{
	flex:auto;
	width:100px;
	min-width:5em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis}	
.message[category=network].mixed-content .url{color:darkred}
.learn-more-link{margin:0 6px}

.navigation-marker{
	color:graytext;
	font-size:90%}
 
.navigation-marker .url{
	-moz-padding-end:9px;
	text-decoration:none}

.webconsole-filter-button{-moz-user-focus:normal}

@media (max-width:550px){
.toolbarbutton-text{display:none}
}

@media (max-width:300px){
.message>.timestamp{display:none}
}

.consoleTrace .body>div{
	display:flex}
.consoleTrace .title{
	display:block;
	flex:auto}
.stacktrace{
	list-style:none;
	padding:0 2px;
	margin:2px;
	max-height:10em;
	overflow-y:auto;
	border:1px solid threedshadow;
	box-shadow:1px 1px 2px threedshadow inset;
	border-radius:5px 0 0 5px}
.stacktrace li{
	display:flex;
	margin:0}
.stacktrace .function{
	display:block;
	flex:auto}

.open-inspector{
	background:-moz-image-rect(url(debugger.png),16,64,32,48) no-repeat 0 0;
	padding-left:16px;
	margin-left:2px;
	cursor:pointer}

.message-body-wrapper .table-widget-body{overflow:visible}

.theme-selected .console-string,
.theme-selected .cm-number,
.theme-selected .cm-variable,
.theme-selected .kind-ArrayLike{
	background-color:highlight!important;
	color:highlighttext!important}
	
.consoletable{margin:5px 0 0 0}

.cm-s-mozilla a[class]{
	font-style:italic;
	text-decoration:none}
.cm-s-mozilla a[class]:hover,
.cm-s-mozilla a[class]:focus{
	text-decoration:underline}