body{
	margin:0;
	font:message-box;
	background-color:-moz-field;
	color:-moz-fieldtext}

table{border-spacing:0}

#header{
	width:100%;
	overflow-x:auto;
	display:block;
	background-color:-moz-Dialog;
	color:-moz-DialogText}

h1{
	position:relative;
	font-size:100%;
	margin:0;
	padding:1px 3px;
	border-bottom:1px solid threedshadow;
	background:-moz-Dialog url(chrome://global/skin/menu-bg.png)}

h1>.info{
	position:absolute;
	right:3px;
	font-weight:normal;
	opacity:.8;
	text-shadow:1px 1px 1px threedhighlight}

.group{
	overflow-x:hidden;
	width:100%;
	background-color:-moz-Field;
	color:-moz-FieldText}
.group>h1{
	font-size:110%;
	border-top:1px solid threedshadow}

.group>div{
	margin:8px;
	border-radius:5px;
	border:1px solid threedshadow;
	box-shadow:1px 1px 2px threedshadow}
.group>div>h1{
	border-radius:5px 5px 0 0}

.property-table{
	width:100%;
	max-height:300px;
	overflow:auto;
	display:block}
.property-name{
	text-align:end;
	white-space:nowrap;
	vertical-align:top;
	font-weight:bold;
	padding:0 2px}
.property-value{
	padding:0;
	word-wrap:break-word;
	font-size:90%}

#responseBodyFetchLink,
#requestBodyFetchLink{
	padding:2px;
	margin:0;
	cursor:pointer;
	font-weight:bold;
	text-decoration:underline}

#responseBodyContent{padding:2px}
#responseImageNodeDiv{
	padding:4px;
	text-align:center;
	background-color:threedshadow}
#responseImageNode{
	max-width:100%;
	background-color:-moz-field;
	box-shadow:2px 2px 15px threeddarkshadow,2px 2px 4px threeddarkshadow}
#responseImageNode:hover{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEWgoKClpaUrSK7yAAAAAnRSTlNkFG3Yt+YAAAAPSURBVHheY2D4jxXhEgYAfr8P8SM7T18AAAAASUVORK5CYII=)}
